	{% set deviceMobile = false %}

	 {% if 'iPhone' in app.request.headers.get('User-Agent') 
        or 'iPod' in app.request.headers.get('User-Agent') 
        or 'iPad' in app.request.headers.get('User-Agent') 
        or 'Android' in app.request.headers.get('User-Agent') 
        or 'BlackBerry' in app.request.headers.get('User-Agent') %}
		
		{% set deviceMobile = true %}

    {% endif %}

<div class="lg:flex lg:items-center lg:justify-between mb-10">
  <div class="mt-5 flex lg:ml-4 lg:mt-0">
<style>
@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);

.inset-l-full {
    left: 100%;
}
</style>
<div class="min-w-screen px- 5 mb-10">
    <div class="py-3 px-5 bg-white rounded{% if not deviceMobile %} shadow-xl{% endif %}">
        <div class="-mx-1">
            <ul class="flex w-full flex-wrap items-center h-10">
                <li class="block relative">
                    <a href="{{ app.request.schemeAndHttpHost ~ '/' ~ urlLocal|default }}" target="_blank" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 hover:bg-gray-100">
                        <span class="mr-3 text-xl"> <i class="mdi mdi-monitor-screenshot"></i> </span>
                        <span>Ver web</span>
                    </a>
                </li>
                <li class="block relative" x-data="{showChildren:false}" @click.away="showChildren=false">
                    <a href="#" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 {{ app.request.attributes.get("_route") in ['panel-modify-config-local', 'panel-edit-information', 'panel-select-theme'] ? 'bg-gray-900 text-white': ''}}" @click.prevent="showChildren=!showChildren">
                        <span class="mr-3 text-xl"> <i class="mdi mdi-cog-sync-outline"></i> </span>
                        <span>Editar Local</span>
                        <span class="ml-2"> <i class="mdi mdi-chevron-down"></i> </span>
                    </a>
                    <div class="bg-white shadow-md rounded border border-gray-300 text-sm absolute top-auto left-0 min-w-full w-56 z-30 mt-1" x-show="showChildren" x-transition:enter="transition ease duration-300 transform" x-transition:enter-start="opacity-0 translate-y-2" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease duration-300 transform" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                        <span class="absolute top-0 left-0 w-3 h-3 bg-white border transform rotate-45 -mt-1 ml-6"></span>
                        <div class="bg-white rounded w-full relative z-10 py-1">
                            <ul class="list-reset">
                                <li class="relative" x-data="{showChildren:false}" @mouseleave="showChildren=false" @mouseenter="showChildren=true">
                                    <a href="{{ path('panel-modify-config-local',{'local': local }) }}" class="px-4 py-2 flex w-full items-start hover:bg-gray-100 no-underline hover:no-underline transition-colors duration-100 cursor-pointer"> <span class="flex-1">Configuración</span> </a>
                                </li>
                                <li class="relative" x-data="{showChildren:false}" @mouseleave="showChildren=false" @mouseenter="showChildren=true">
                                    <a href="{{ path('panel-edit-information',{'local': local }) }}" class="px-4 py-2 flex w-full items-start hover:bg-gray-100 no-underline hover:no-underline transition-colors duration-100 cursor-pointer"> <span class="flex-1">Información</span> </a>
                                </li>
                                  <li class="relative" x-data="{showChildren:false}" @mouseleave="showChildren=false" @mouseenter="showChildren=true">
                                    <a href="{{ path('panel-select-theme',{'local': local }) }}" class="px-4 py-2 flex w-full items-start hover:bg-gray-100 no-underline hover:no-underline transition-colors duration-100 cursor-pointer"> <span class="flex-1">Plantilla Web</span> </a>
                                </li>
                                <li class="relative" x-data="{showChildren:false}" @mouseleave="showChildren=false" @mouseenter="showChildren=true">
                                    <a href="{{ app.request.schemeAndHttpHost ~ '/' ~ urlLocal|default ~ '?edit-photos=true'}}"  target="_blank" class="px-4 py-2 flex w-full items-start hover:bg-gray-100 no-underline hover:no-underline transition-colors duration-100 cursor-pointer"> <span class="flex-1">Cambiar fotos de la Web</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="block relative">
                    <a href="{{ path('panel-new-menu',{'local': local }) }}"  class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 {{ app.request.attributes.get("_route") in ['panel-new-menu', 'panel-edit-menu-and-show-products', 'panel-new-product', 'panel-edit-product'] ? 'bg-gray-900 text-white': ''}}">
                        <span class="mr-3 text-xl"> <i class="mdi mdi-silverware-fork-knife"></i> </span>
                        <span>Menús</span>
                    </a>
                </li>
                <li class="block relative">
                    <a href="{{ path('panel-new-product-alone',{'local': local }) }}" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 {{ app.request.attributes.get("_route") in ['panel-new-product-alone', 'panel-edit-product-alone'] ? 'bg-gray-900 text-white': ''}}">
                        <span class="mr-3 text-xl"> <i class="mdi mdi-image-edit-outline"></i> </span>
                        <span>Productos sueltos</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
  </div>
</div>