<div class="space-y-2">
  <div class="border-b border-gray-900/10">
    <h2 class="text-base font-semibold leading-7 text-gray-900">Escoge un Producto para editar</h2>
  </div>
{% for producto in productos %}

{% set menuId =  producto.id %}
  <details
    class="overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden" {{ loop.first	 ? ' open' : '' }}
  >
    <summary
      class="flex cursor-pointer items-center justify-between gap-2 bg-white p-4 text-gray-900 transition"
    >
      <span class="text-sm font-medium">{{ producto.Nombreproducto }} </span>

      <span class="transition group-open:-rotate-180">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-4 w-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
      </span>
    </summary>

    <div class="border-t border-gray-200 bg-white">
      <ul class="space-y-1 border-t border-gray-200 p-4">
      {% if not editProducts|default and not productAlone|default %}
        <li>{{ producto.Informacionproducto }}</li>
      {% endif %}

      {% if editProducts|default and not productAlone|default  %}
        <li><a href="{{ path('panel-edit-product',{'id': app.request.attributes.get('id')|default(0) , 'menuId': app.request.attributes.get('menuId')|default(0), 'productoId' : menuId}) }}">Editar Producto</li></a>
      {% endif %}

      {% if editProducts|default and productAlone|default  %}
        <li><a href="{{ path('panel-edit-product-alone',{'id': app.request.attributes.get('id')|default(0) , 'productoId' : menuId}) }}">Editar Producto</li></a>
      {% endif %}
       </ul>
    </div>
  </details>
{% endfor %}
</div>