<div class="space-y-2">
  <div class="border-b border-gray-900/10">
    <h2 class="text-base font-semibold leading-7 text-gray-900">Añade Productos a tus Menús</h2>
  </div>
{% for menu in menus %}

  <details
    class="overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden" {{ loop.first	 ? ' open' : '' }}
  >
    <summary
      class="flex cursor-pointer items-center justify-between gap-2 bg-white p-4 text-gray-900 transition"
    >
      <span class="text-sm font-medium"> {{ menu.NombreMenu }} </span>

      <span class="transition group-open:-rotate-180">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-4 w-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
      </span>
    </summary>

    <div class="border-t border-gray-200 bg-white">
      <header class="flex items-center justify-between p-4">
        <a class="text-sm text-gray-900 underline underline-offset-4" href="{{ path('panel-edit-menu-and-show-products',{'local':app.request.attributes.get('local') ,'menuId': menu.id }) }}">
          Editar Menú
        </a>
      </header>
      <ul class="space-y-1 border-t border-gray-200 p-4">
        <li> 
          <a class="text-sm text-gray-900 underline underline-offset-4" href="{{ path('panel-new-product',{'local':app.request.attributes.get('local') ,'menuId': menu.id }) }}">
            Añadir Producto
          </a>
        </li>
      {% for product in menu.productos %}
        <li>{{ product.nombreProducto }}</li>
      {% endfor %}
      </ul>
    </div>
  </details>
{% endfor %}
</div>