<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ content.local.descripcionLocal }} | {{ content.local.nombreLocal }}</title>  
	<meta name="description" content="{{ content.informationForLocal.descripcion }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="themes/1/css/animate.css">
	
	<link rel="stylesheet" href="themes/1/css/owl.carousel.min.css">
	<link rel="stylesheet" href="themes/1/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="themes/1/css/magnific-popup.css">

	<link rel="stylesheet" href="themes/1/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="themes/1/css/jquery.timepicker.css">

	
	<link rel="stylesheet" href="themes/1/css/flaticon.css">
	<link rel="stylesheet" href="themes/1/css/style.css">
{% if app.request.query.get('edit-photos')%}
	<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
</style>
{% endif %}
<style>
.staff:after, .staff:before{
background: {{ content.local.colorWeb }}
}
</style>
</head>
<body>

{% set photosTheme = content.informationForLocal.photos %}

{% set photo1 = 'themes/1/images/bg_6.jpg' %}
{% set photo2 = 'themes/1/images/bg_4.jpg' %}
{% set photo3 = 'themes/1/images/breakfast-1.jpg' %}
{% set photo4 = 'themes/1/images/breakfast-1.jpg' %}

{% for photo in photosTheme %}
	{% if photo.orden == 1 %}
		{% set photo1 = photo.photoPath %}
	{% elseif photo.orden == 2 %}
		{% set photo2 = photo.photoPath %}
	{% elseif photo.orden == 3 %}
		{% set photo3 = photo.photoPath %}
	{% elseif photo.orden == 4 %}
		{% set photo4 = photo.photoPath %}		
	{% endif %}
{% endfor %}

	{% include '/Local/Themes/Components/flashAlertThemes.html.twig' %}
	<div class="wrap">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-12 col-md d-flex align-items-center">
					<p class="mb-0 phone"><span class="mailus">Teléfono:</span> {{ content.informationForLocal.telefono }}</p>
				</div>
				<div class="col-12 col-md d-flex justify-content-md-end">
					<p class="mb-0">Mon - Fri / 9:00-21:00, Sat - Sun / 10:00-20:00</p>
					<div class="social-media">
						<p class="mb-0 d-flex">
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="index.html">{{ content.local.nombreLocal }}</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a href="#inicio" class="nav-link">Inicio</a></li>
					<li class="nav-item"><a href="#menu" class="nav-link">Menu</a></li>
					<li class="nav-item"><a href="#productos" class="nav-link">Productos</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->
	
	<section class="hero-wrap" id="inicio">
		<div class="home-slider owl-carousel js-fullheight owl-loaded owl-drag">
			<div id="image-1" class="slider-item js-fullheight" style="background-image: url({{ photo1 }});">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate fadeInUp ftco-animated">
							<div class="text w-100 mt-5 text-center">
								<h1>{{ content.local.nombreLocal }}</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% if content.userIsAdmin|default(false) %}
		{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'idPhoto': 1 }%}
	{% endif %}

	</section>

	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-6 d-flex">
					<div id="image-2" class="img img-2 w-100 mr-md-2" style="background-image: url({{ photo2 }});"></div>
					<div id="image-3" class="img img-2 w-100 ml-md-2" style="background-image: url({{ photo3 }});"></div>
				</div>
				<div class="col-md-6 ftco-animate fadeInUp ftco-animated makereservation p-4 p-md-5">
					<div class="heading-section ftco-animate fadeInUp ftco-animated mb-5">
						<h2 class="mb-4">Sobre Nosotros</h2>
						<p>{{ content.informationForLocal.descripcion }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-6 d-flex">
					{% if content.userIsAdmin|default(false) %}
						{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 2', 'idPhoto': 2 } %}
						{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 3', 'idPhoto': 3 } %}
					{% endif %}
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section" id="menu">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
					<h2 class="mb-4">Nuestro Menú</h2>
				</div>
			</div>
			<div class="row">
				{% for menu in content.menus %}

					<div class="col-md-6 col-lg-4">
					<div class="menu-wrap">
						<div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
							<h3>{{ menu.nombreMenu }}</h3>
						</div>
						{% for producto in menu.productos %}
						<div class="menus d-flex ftco-animate fadeInUp ftco-animated">
							<div class="menu-img img" {% if producto.photos.0.photoPath|default(null)  %}style="background-image: url({{ producto.photos.0.photoPath|default(null) }});" {% endif %}></div>
							<div class="text">
								<div class="d-flex">
									<div class="one-half">
										<h3>{{ producto.nombreProducto }}</h3>
									</div>
									<div class="one-forth">
										<span class="price" style="color: {{ content.local.colorWeb }}">{{ producto.precioProducto }}€</span>
									</div>
								</div>
								<p>{{ producto.informacionProducto }}</p>
							</div>
						</div>
						<span class="flat flaticon-bread" style="left: 0;"></span>
						<span class="flat flaticon-breakfast" style="right: 0;"></span>
						{% endfor %}

					</div>
				</div>

				{% endfor %}

			</div>
		</div>

	</section>

	<section id="image-4"class="ftco-section ftco-intro" style="background-image: url({{ photo4 }});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>{{ content.local.descripcionLocal }}</h2>
				</div>
			</div>
		</div>
	</section>
	{% if content.userIsAdmin|default(false) %}
		{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 4', 'idPhoto': 4  } %}
	{% endif %}
	<section class="ftco-section bg-light" id="productos">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
					<h2 class="mb-4">Nuestros Productos</h2>
				</div>
			</div>	
			<div class="row">
				{% for producto in content.productsAlone|slice(0, 5) %}
				<div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
					<div class="staff">
						<div class="img" style="background-image: url({{ producto.photos.0.photoPath|default }});"></div>
						<div class="text px-4 pt-2">
							<h3>{{ producto.nombreProducto }}</h3>
							<span class="position mb-2">{{ producto.precioProducto }}€</span>
							<div class="faded">
								<p>{{ producto.informacionProducto }}</p>
								<ul class="ftco-social d-flex">
									<li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-twitter"></span></a></li>
									<li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-facebook"></span></a></li>
									<li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-google-plus"></span></a></li>
									<li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb ftco-intro bg-primary" style="background-color:  {{ content.local.colorWeb }} !important">
		<div class="container py-5">
			<div class="row py-2">
				<div class="col-md-12 text-center">
					<h2>Contactar</h2>
					<a class="btn btn-white btn-outline-white">Teléfono: {{ content.informationForLocal.telefono }}</a>
				</div>
			</div>
		</div>
	</section>

	{% if content.informationForLocal.maps|default(null) %}
		{% include '/Local/Themes/Components/googleMaps.html.twig' with {'srcMaps': content.informationForLocal.maps|default }%}
	{% endif %}

		<script src="themes/1/js/jquery.min.js"></script>
		<script src="themes/1/js/jquery-migrate-3.0.1.min.js"></script>
		<script src="themes/1/js/popper.min.js"></script>
		<script src="themes/1/js/bootstrap.min.js"></script>
		<script src="themes/1/js/jquery.easing.1.3.js"></script>
		<script src="themes/1/js/jquery.waypoints.min.js"></script>
		<script src="themes/1/js/jquery.stellar.min.js"></script>
		<script src="themes/1/js/main.js"></script>
		{% if app.request.query.get('edit-photos')%}
			{% include '/Local/Themes/Components/buttonChangePhotoOfJs.html.twig' %}
		{% endif %}
	</body>
	</html>