{% extends 'base.html.twig' %}

{% block title %}Edita la configuración de tu Local{% endblock %}

{% block body %}

<section class="relative isolate overflow-hidden bg-white px-6 lg:px-8 mb-12">
  <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>
  <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
  <div class="mx-auto max-w-2xl lg:max-w-4xl">

{% include '/Panel/Sections/Components/flashAlert.html.twig' %}

{% if datos %}
  {% include '/Panel/Sections/Components/navigationCreator.html.twig' %}
{% endif %}

<form  action="{{ path('panel-modify-config-local',{'local': local }) }}" method="post" enctype="multipart/form-data">
  <div class="space-y-22">
    <div class="border-b border-gray-900/10 mt-12">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Edita la Configuración de tu Local</h2>
    </div>
  </div>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

        <div class="col-span-full">
          <label for="about" class="block text-sm font-medium leading-6 text-gray-900">Nombre Local</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <input type="text" value="{{ datos.nombreLocal ?? '' }}" name="nombreLocal" id="nombreLocal" autocomplete="nombreLocal" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
            </div>
          </div>
        </div>

        <div class="sm:col-span-full">
          <label for="calle" class="block text-sm font-medium leading-6 text-gray-900">Descripción corta</label>
          <div class="mt-2">
            <textarea id="descripcion" name="descripcion" rows="3" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">{{ datos.descripcionLocal ?? '' }}</textarea>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="url" class="block text-sm font-medium leading-6 text-gray-900">Url Local (sin caracteres especiales)</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">www.workcation.com/</span>
              <input type="text" value="{{ datos.url ?? '' }}" name="url" id="url" autocomplete="url" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" onkeyup="sanitizeURL(this)">
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="colorWeb" class="block text-sm font-medium leading-6 text-gray-900">Seleccionar color de la Web</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <input  type="color" id="colorWeb" value="{{ datos.colorWeb ? datos.colorWeb : '#0000ff' }}" name="colorWeb" id="colorWeb" autocomplete="colorWeb" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" onkeyup="sanitizeURL(this)">
            </div>
          </div>
        </div>

        <div class="col-span-2">
          <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Logo (opcional) </label>
          <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
            <div class="text-center">

              <img src="{{ datos.logo|default }}" with="50px" heigth="50px">

              {% if not datos.logo|default(null)  %}
              <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
              </svg>
              {% endif %}
              <div class="mt-4 flex text-sm leading-6 text-gray-600">
                <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                  <span>{{ datos.logo|default(null)  ? 'reemplaza la foto' : 'sube una foto'}}</span>
                  <input id="file-upload" name="file-upload" type="file" class="sr-only">
                </label>
              </div>
              <div class="imagesToUpload"></div>
              <p class="text-xs leading-5 text-gray-600">PNG, JPG máximo tamaño 5 Megas</p>
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="calle" class="block text-sm font-medium leading-6 text-gray-900">Bloquear Web</label>
          <div class="mt-2">
              <input type="checkbox" {{ datos.bloquearWeb ? 'checked' : '' }} name="bloquearWeb" id="bloquearWeb"class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="calle" class="block text-sm font-medium leading-6 text-gray-900">Ocultar Formulario de Contacto</label>
          <div class="mt-2">
              <input type="checkbox" {{ datos.ocultarFormularioContacto ? 'checked' : '' }} name="ocultarFormulario" id="ocultarFormulario" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          </div>
        </div>

    </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{ datos|default ? 'Editar' : 'Guardar ' }} Configuración del Local</button>
  </div>
</form>
  </div>
</section>


{% endblock %}