{% extends 'base.html.twig' %}

{% block title %}Añade un nuevo local{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}

<section class="relative isolate overflow-hidden bg-white px-6 lg:px-8 mb-12">
  <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>
  <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
  <div class="mx-auto max-w-2xl lg:max-w-4xl">

{% include '/Panel/Sections/Components/flashAlert.html.twig' %}

{% if datos %}
  {% include '/Panel/Sections/Components/navigationCreator.html.twig' %}
{% endif %}

{% set horarioData = datos.horariosLocal|default(null) %}
{% if horarioData %}

  {% set horarioLunesApertura = null %}
  {% set horarioLunesCierre = null %}
  {% set horarioLunesMostrar = null %}

  {% set horarioMartesApertura = null %}
  {% set horarioMartesCierre = null %}
  {% set horarioMartesMostrar = null %}

  {% set horarioMiercolesApertura = null %}
  {% set horarioMiercolesCierre = null %}
  {% set horarioMiercolesMostrar = null %}

  {% set horarioJuevesApertura = null %}
  {% set horarioJuevesCierre = null %}
  {% set horarioJuevesMostrar = null %}

  {% set horarioViernesApertura = null %}
  {% set horarioViernesCierre = null %}
  {% set horarioViernesMostrar = null %}

  {% set horarioSabadoApertura = null %}
  {% set horarioSabadoCierre = null %}
  {% set horarioSabadoMostrar = null %}

  {% set horarioDomingoApertura = null %}
  {% set horarioDomingoCierre = null %}
  {% set horarioDomingoMostrar = null %}

  {% for dia in horarioData %}
    {% if dia.diaSemana == 'Lunes' %}
      {% set horarioLunesApertura = dia.horaApertura %}
      {% set horarioLunesCierre = dia.horaCierre %}
      {% set horarioLunesMostrar = dia.noMostrarHora %}
    {% elseif dia.diaSemana == 'Martes' %}
      {% set horarioMartesApertura = dia.horaApertura %}
      {% set horarioMartesCierre = dia.horaCierre %}
      {% set horarioMartesMostrar = dia.noMostrarHora %}

    {% elseif dia.diaSemana == 'Miercoles' %}
      {% set horarioMiercolesApertura = dia.horaApertura %}
      {% set horarioMiercolesCierre = dia.horaCierre %}
      {% set horarioMiercolesMostrar = dia.noMostrarHora %}

    {% elseif dia.diaSemana == 'Jueves' %}
      {% set horarioJuevesApertura = dia.horaApertura %}
      {% set horarioJuevesCierre = dia.horaCierre %}   
      {% set horarioJuevesMostrar = dia.noMostrarHora %}

    {% elseif dia.diaSemana == 'Viernes' %}
      {% set horarioViernesApertura = dia.horaApertura %}
      {% set horarioViernesCierre = dia.horaApertura %}
      {% set horarioViernesMostrar = dia.noMostrarHora %}

    {% elseif dia.diaSemana == 'Sabado' %}
      {% set horarioSabadoApertura = dia.horaApertura %}
      {% set horarioSabadoCierre = dia.horaApertura %}
      {% set horarioSabadoMostrar = dia.noMostrarHora %}

    {% elseif dia.diaSemana == 'Domingo' %}
      {% set horarioDomingoApertura = dia.horaApertura %}
      {% set horarioDomingoCierre = dia.horaApertura %}  
      {% set horarioDomingoMostrar = dia.noMostrarHora %}

    {% endif %}
  {% endfor %}

{% endif %}

<form  action="{{ path('panel-edit-information',{'local': local }) }}" method="post">
  <div class="space-y-22">
    <div class="border-b border-gray-900/10 mt-12">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Rellena la información de tu Local</h2>
    </div>
  </div>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="telefono" class="block text-sm font-medium leading-6 text-gray-900">Teléfono</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <input type="number" value="{{ datos.telefono ?? '' }}" name="telefono" id="telefono" autocomplete="telefono" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email de contacto</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <input type="email" value="{{ datos.email ?? '' }}" name="email" id="email" autocomplete="email" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="col-span-full">
          <label for="about" class="block text-sm font-medium leading-6 text-gray-900">Descripción ampliada de tu local</label>
          <div class="mt-2">
            <textarea id="descripcion" name="descripcion" rows="3" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">{{ datos.descripcion ?? '' }}</textarea>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="direccionCompleta" class="block text-sm font-medium leading-6 text-gray-900">Dirección Completa</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <input type="text" value="{{ datos.direccionCompleta ?? '' }}" name="direccionCompleta" id="direccionCompleta" autocomplete="calle" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="localidad" class="block text-sm font-medium leading-6 text-gray-900">Localidad</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <input type="text" value="{{ datos.localidad ?? '' }}" name="localidad" id="localidad" autocomplete="localidad" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="ciudad" class="block text-sm font-medium leading-6 text-gray-900">Ciudad</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <input type="text" value="{{ datos.ciudad ?? ''}}" name="ciudad" id="ciudad" autocomplete="ciudad" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
            </div>
          </div>
        </div>

        <div class="col-span-full">
          <div class="border-b border-gray-900/10 mt-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Añade tu local en Google Maps</h2>
          </div>
        </div>

        <div class="col-span-full">
          <label for="maps" class="block text-sm font-medium leading-6 text-gray-900">Google maps <a class="text-purple-700" href="/faq/"> Ayuda para añadir el mapa</a></label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                <input type="text" value="{{ datos.maps ?? ''}}" name="maps" id="maps" placeholder="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24648.144029098738!2d-6.386099747719785!3d39.44632507892822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd15dfdad2b93715%3A0x24de29045c042105!2sDomino's%20Pizza!5e0!3m2!1ses!2ses!4v1696704131548 "class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
            </div>
          </div>
        </div>

        <div class="col-span-full">
          <div class="border-b border-gray-900/10 mt-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Redes sociales</h2>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="facebook" class="block text-sm font-medium leading-6 text-gray-900">Facebook</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">www.facebook.com/</span> 
              <input type="text" value="{{ datos.facebook ?? '' }}" name="facebook" id="facebook" autocomplete="facebook" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="instagram" class="block text-sm font-medium leading-6 text-gray-900">Instagram</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">www.instagram.com/</span>
              <input type="text" value="{{ datos.instagram ?? '' }}" name="instagram" id="instagram" autocomplete="instagram" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="twiter" class="block text-sm font-medium leading-6 text-gray-900">Twiter</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">www.twitter.com/</span>
              <input type="text" value="{{ datos.twiter ?? '' }}" name="twiter" id="twiter" autocomplete="twiter" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>
        
        <div class="sm:col-span-3">
          <label for="youtube" class="block text-sm font-medium leading-6 text-gray-900">Youtube</label>
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">www.youtube.com/@</span>
              <input type="text" value="{{ datos.youtube ?? '' }}" name="youtube" id="youtube" autocomplete="youtube" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="col-span-full">
          <div class="border-b border-gray-900/10 mt-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Horario</h2>
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Lunes apertura: </span>
              <input type="time" value="{{ horarioLunesApertura|default ? horarioLunesApertura|date('H:i') : '' }}" name="horarioLunesApertura" id="horarioLunesApertura" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Lunes cierre: </span>
              <input type="time" value="{{ horarioLunesCierre|default ? horarioLunesCierre|date('H:i') : '' }}" name="horarioLunesCierre" id="horarioLunesCierre" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-1">
          <label for="calle" class="block text-sm font-medium leading-6 text-gray-900">Dia cerrado</label>
          <div class="mt-2">
              <input type="checkbox" {{ horarioLunesMostrar|default ? 'checked' : '' }}   name="no-mostrar-hora-Lunes" id="no-mostrar-hora-Lunes"class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Martes apertura: </span>
              <input type="time" value="{{ horarioMartesApertura|default ? horarioMartesApertura|date('H:i') : '' }}" name="horarioMartesApertura" id="horarioMartesApertura" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Martes cierre: </span>
              <input type="time" value="{{ horarioMartesCierre|default ? horarioMartesCierre|date('H:i') : '' }}" name="horarioMartesCierre" id="horarioMartesCierre" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-1">
          <label for="calle" class="block text-sm font-medium leading-6 text-gray-900">Dia cerrado</label>
          <div class="mt-2">
              <input type="checkbox" {{ horarioMartesMostrar|default ? 'checked' : '' }} name="no-mostrar-hora-Martes" id="no-mostrar-hora-Martes"class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Miércoles apertura: </span>
              <input type="time" value="{{ horarioMiercolesApertura|default ? horarioMiercolesApertura|date('H:i') : '' }}" name="horarioMiercolesApertura" id="horarioMiercolesApertura"  class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Miércoles cierre: </span>
              <input type="time" value="{{ horarioMiercolesCierre|default ? horarioMiercolesCierre|date('H:i') : '' }}" name="horarioMiercolesCierre" id="horarioMiercolesCierre" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-1">
          <label for="calle" class="block text-sm font-medium leading-6 text-gray-900">Dia cerrado</label>
          <div class="mt-2">
              <input type="checkbox" {{ horarioMiercolesMostrar|default ? 'checked' : '' }} name="no-mostrar-hora-Miercoles" id="no-mostrar-hora-Miercoles"class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Jueves apertura: </span>
              <input type="time" value="{{ horarioJuevesApertura|default ? horarioJuevesApertura|date('H:i') : '' }}" name="horarioJuevesApertura" id="horarioJuevesApertura" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Jueves cierre: </span>
              <input type="time" value="{{ horarioJuevesCierre|default ? horarioJuevesCierre|date('H:i') : '' }}" name="horarioJuevesCierre" id="horarioJuevesCierre" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-1">
          <label for="calle" class="block text-sm font-medium leading-6 text-gray-900">Dia cerrado</label>
          <div class="mt-2">
              <input type="checkbox" {{ horarioJuevesMostrar|default ? 'checked' : '' }} name="no-mostrar-hora-Jueves" id="no-mostrar-hora-Jueves"class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Viernes apertura: </span>
              <input type="time" value="{{ horarioViernesApertura|default ? horarioViernesApertura|date('H:i') : '' }}" name="horarioViernesApertura" id="horarioViernesApertura" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Viernes cierre: </span>
              <input type="time" value="{{ horarioViernesCierre|default ? horarioViernesCierre|date('H:i') : '' }}" name="horarioViernesCierre" id="horarioViernesCierre" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-1">
          <label for="calle" class="block text-sm font-medium leading-6 text-gray-900">Dia cerrado</label>
          <div class="mt-2">
              <input type="checkbox" {{ horarioViernesMostrar|default ? 'checked' : '' }} name="no-mostrar-hora-Viernes" id="no-mostrar-hora-Viernes"class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Sábado apertura: </span>
              <input type="time" value="{{ horarioSabadoApertura|default ? horarioSabadoApertura|date('H:i') : '' }}" name="horarioSabadoApertura" id="horarioSabadoApertura" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Sábado cierre: </span>
              <input type="time" value="{{ horarioSabadoCierre|default ? horarioSabadoCierre|date('H:i') : '' }}" name="horarioSabadoCierre" id="horarioSabadoCierre" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-1">
          <label for="calle" class="block text-sm font-medium leading-6 text-gray-900">Dia cerrado</label>
          <div class="mt-2">
              <input type="checkbox" {{ horarioSabadoMostrar|default ? 'checked' : '' }}  name="no-mostrar-hora-Sabado" id="no-mostrar-hora-Sabado"class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Domingo apertura: </span>
              <input type="time" value="{{ horarioDomingoApertura|default ? horarioDomingoApertura|date('H:i') : '' }}" name="horarioDomingoApertura" id="horarioDomingoApertura" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <div class="mt-2">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
              <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Domingo cierre: </span>
              <input type="time" value="{{ horarioDomingoCierre|default ? horarioDomingoCierre|date('H:i') : '' }}" name="horarioDomingoCierre" id="horarioDomingoCierre" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" >
            </div>
          </div>
        </div>

        <div class="sm:col-span-1">
          <label for="calle" class="block text-sm font-medium leading-6 text-gray-900">Dia cerrado</label>
          <div class="mt-2">
              <input type="checkbox" {{ horarioDomingoMostrar|default ? 'checked' : '' }} name="no-mostrar-hora-Domingo" id="no-mostrar-hora-Domingo"class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          </div>
        </div>

    </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <input type="hidden" name="token" value="{{ csrf_token('validateTokenSym') }}" />
    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{ datos|default ? 'Editar' : 'Guardar ' }} Información del Local</button>
  </div>
</form>

  </div>
</section>



{% endblock %}