{% extends 'base.html.twig' %}

{% block title %}Escoge la plantilla web para tu Local{% endblock %}

{% block body %}

<section class="relative isolate overflow-hidden bg-white px-6 lg:px-8">
  <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>
  <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
  <div class="mx-auto max-w-2xl lg:max-w-4xl">

{% include '/Panel/Sections/Components/flashAlert.html.twig' %}

{% include '/Panel/Sections/Components/navigationCreator.html.twig' with {'id': app.request.attributes.get('id') } only %}

  <div class="space-y-22">
    <div class="border-b border-gray-900/10 mt-12">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Selecciona el diseño de tu local</h2>
    </div>
  </div>

{% set href = "/panel/editar-informacion-local/" ~ app.request.attributes.get('id') ~ "/seleccionar-plantilla/" %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6 {{ content == 1 ? 'dark:bg-gray-900' : '' }}">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="/common/plantilla-1.png">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Plantilla 1</h2>
        <p class="text-base leading-relaxed mt-2">Diseño limpio y elegante, perfecto para restaurantes con cartas, productos sueltos, etc.</p>
        <a class="text-indigo-500 inline-flex items-center mt-3" href="{{ href }}?theme=1"> {{ content == 1 ? 'Plantilla Actual' : 'Seleccionar Plantilla' }}
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6 {{ content == 2 ? 'dark:bg-gray-900' : '' }}">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="/common/plantilla-2.png">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Plantilla 2</h2>
        <p class="text-base leading-relaxed mt-2">Especialmente diseñado para restaurantes de pizzas o restaurantes Italianos.</p>
        <a class="text-indigo-500 inline-flex items-center mt-3" href="{{ href }}?theme=2">  {{ content == 2 ? 'Plantilla Actual' : 'Seleccionar Plantilla' }}
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6 {{ content == 3 ? 'dark:bg-gray-900' : '' }}">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="/common/plantilla-3.png">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Plantilla 3</h2>
        <p class="text-base leading-relaxed mt-2">Diseñado para todo tipo de restaurantes.</p>
        <a class="text-indigo-500 inline-flex items-center mt-3" href="{{ href }}?theme=3">  {{ content == 3 ? 'Plantilla Actual' : 'Seleccionar Plantilla' }}
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

   <section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6 {{ content == 4 ? 'dark:bg-gray-900' : '' }}">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="/common/plantilla-4.png">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Plantilla 4</h2>
        <p class="text-base leading-relaxed mt-2">Diseño limpio y elegante, perfecto para restaurantes con cartas, productos sueltos, etc.</p>
        <a class="text-indigo-500 inline-flex items-center mt-3" href="{{ href }}?theme=4"> {{ content == 4 ? 'Plantilla Actual' : 'Seleccionar Plantilla' }}
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6 {{ content == 5 ? 'dark:bg-gray-900' : '' }}">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="/common/plantilla-5.png">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Plantilla 5</h2>
        <p class="text-base leading-relaxed mt-2">Especialmente diseñado para restaurantes de pizzas o restaurantes Italianos.</p>
        <a class="text-indigo-500 inline-flex items-center mt-3" href="{{ href }}?theme=5">  {{ content == 5 ? 'Plantilla Actual' : 'Seleccionar Plantilla' }}
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6 {{ content == 6 ? 'dark:bg-gray-900' : '' }}">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="/common/plantilla-6.png">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Plantilla 6</h2>
        <p class="text-base leading-relaxed mt-2">Diseñado para todo tipo de restaurantes.</p>
        <a class="text-indigo-500 inline-flex items-center mt-3" href="{{ href }}?theme=6">  {{ content == 6 ? 'Plantilla Actual' : 'Seleccionar Plantilla' }}
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

  </div>
</section>


{% endblock %}