<!DOCTYPE html>
<html lang="es"><!-- Basic -->
<head>

{% include '/Local/Themes/Components/SEO/metas.html.twig' %}

    <!-- Site Icons -->
    <link rel="shortcut icon" href="themes/3/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="themes/3/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="themes/3/css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="themes/3/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="themes/3/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="themes/3/css/custom.css">
	{% include '/Local/Themes/Components/SEO/jsonLd.html.twig' %}

</head>

{% set photosTheme = content.informationForLocal.photos %}

{% set photo1 = 'themes/1/images/bg_6.jpg' %}
{% set photo2 = 'themes/1/images/bg_4.jpg' %}
{% set photo3 = 'themes/1/images/breakfast-1.jpg' %}
{% set photo4 = 'themes/1/images/breakfast-1.jpg' %}
{% set photo5 = 'themes/2/images/reservations.jpg' %}

{% for photo in photosTheme %}
	{% if photo.orden == 1 %}
		{% set photo1 = '/uploads/' ~ photo.photoPath %}
	{% elseif photo.orden == 2 %}
		{% set photo2 = '/uploads/' ~ photo.photoPath %}
	{% elseif photo.orden == 3 %}
		{% set photo3 = '/uploads/' ~ photo.photoPath %}
	{% elseif photo.orden == 4 %}
		{% set photo4 = '/uploads/' ~ photo.photoPath %}		
	{% elseif photo.orden == 5 %}
		{% set photo5 = '/uploads/' ~ photo.photoPath %}		
	{% endif %}
{% endfor %}

{% if app.request.query.get('edit-photos')%}
	<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
</style>
{% endif %}

{% if content.local.colorWeb|default %}
<style>

.inner-menu-box .nav-pills .nav-link.active {
background: {{ content.local.colorWeb }} !important
}

.inner-menu-box .nav-pills .nav-link.active {
background: {{ content.local.colorWeb }} !important
}
.inner-menu-box .nav-pills .nav-link:hover{
background: {{ content.local.colorWeb }} !important
color: #ffffff;
}
.footer-area h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid {{ content.local.colorWeb }};
    margin-bottom: 10px;
}
.copyright {
    margin-top: 20px;
    position: relative;
    display: block;
    background-color: #010101;
    border-top: 1px solid {{ content.local.colorWeb }};
    padding: 30px 0;
    z-index: 1;
}
.btn.btn-common {
	color: {{ content.local.colorWeb }};
    border-color: {{ content.local.colorWeb }};
}
</style>
{% endif %}

<body>
	{% include '/Local/Themes/Components/flashAlertThemes.html.twig' %}

	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#slides">
				{% if content.local.logo|default %}
					<img src="{{ '/uploads/' ~ content.local.logo }}" alt="{{ content.local.nombreLocal }}" with="50px" height="50px"/>
				{% else %}
					<p>{{ content.local.nombreLocal }}</p>
				{% endif %}
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="#slides" style="background:{{ content.local.colorWeb|default('#d65106') }}">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" href="#menu">Menu</a></li>
						<li class="nav-item"><a class="nav-link" href="#contactar">Contactar</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	{% set deviceMobile = false %}

	 {% if 'iPhone' in app.request.headers.get('User-Agent') 
        or 'iPod' in app.request.headers.get('User-Agent') 
        or 'iPad' in app.request.headers.get('User-Agent') 
        or 'Android' in app.request.headers.get('User-Agent') 
        or 'BlackBerry' in app.request.headers.get('User-Agent') %}
		
		{% set deviceMobile = true %}

    {% endif %}

	<!-- Start slides -->
	<div id="slides" class="cover-slides" style="position: relative; overflow: hidden; width: 100%; height: 931px;">
		<div class="slides-control" style="position: relative; height: 100%; width: 100%; left: -1393px;">
			<ul class="slides-container" style="margin: 0px; padding: 0px; list-style: none; position: relative; height: 100%; display: block;">
				<li class="text-left" style="display: block; left: 1393px; position: absolute; overflow: hidden; height: 100%; width:100%; top: 0px; z-index: 2; opacity: 1;">
					<img id="image-1" src="{{ photo1|default('themes/3/images/slider-01.jpg') }} " alt="{{ content.local.nombreLocal }}" style="backface-visibility: hidden; position: absolute; top: 0px; z-index: -1; max-width: none; height: 931px; {{ deviceMobile|default ? '' : 'width: 100%' }};">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1 class="m-b-20">{{ content.local.nombreLocal }}</h1>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
{% if content.userIsAdmin|default(false) %}
	{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'idPhoto': 1 }%}
{% endif %}
	<!-- End slides -->
	
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h4>Sobre Nosotros</h4>
						<p>{{ content.informationForLocal.descripcion }}</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img id="image-2" src="{{ photo2|default('themes/3/images/about-img.jpg') }}" alt="{{ content.local.nombreLocal }}" class="img-fluid" style="box-shadow: 20px 20px 0px {{ content.local.colorWeb|default('#d65106') }}" >
				{% if content.userIsAdmin|default(false) %}
					{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 2', 'idPhoto': 2  } %}
				{% endif %}
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
	
	<!-- Start QT -->
	<div id="image-3" class="qt-box qt-background" style="background: url('themes/3/images/qt-bg.jpg'); background-attachment: fixed; background-position: center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<p class="lead ">
						{{ content.local.descripcionLocal }}
					</p>
				</div>
			</div>
		</div>
	</div>
{% if content.userIsAdmin|default(false) %}
	{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 3', 'idPhoto': 3  } %}
{% endif %}
	<!-- End QT -->
{% if content.menus|default([])|length > 0 %}
	<!-- Start Menu -->
	<div class="menu-box" id="menu">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Menú</h2>
					</div>
				</div>
			</div>
			
			<div class="row inner-menu-box">
				<div class="col-3">
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						{% for menu in content.menus %}
						<a class="nav-link  {{ loop.first ? 'active' : '' }}" id="{{ menu.nombreMenu|replace({' ' : '-'}) }}-tab" data-toggle="pill" href="#{{ menu.nombreMenu|replace({' ' : '-'}) }}" role="tab" aria-controls="{{ menu.nombreMenu|replace({' ' : '-'}) }}" aria-selected="true">{{ menu.nombreMenu }}</a>
						{% endfor %}
					</div>
				</div>
				
				<div class="col-9">
					<div class="tab-content" id="v-pills-tabContent">
						{% for menu in content.menus %}
						<div class="tab-pane fade show {{ loop.first ? 'active' : '' }}" id="{{ menu.nombreMenu|replace({' ' : '-'}) }}" role="tabpanel" aria-labelledby="{{ menu.nombreMenu|replace({' ' : '-'}) }}-tab">
							<div class="row">
								{% for producto in menu.productos %}
								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="{{ '/uploads/' ~ producto.photos.0.photoPath|default('themes/3/images/img-01.jpg') }} " class="img-fluid" alt="{{ content.local.nombreLocal }}">
										<div class="why-text">
											<h4>{{ producto.nombreProducto }}</h4>
											<p>{{ producto.informacionProducto }}</p>
											<h5>{{ producto.precioProducto }}€</h5>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>							
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- End Menu -->
	{% endif %}

	{% if content.productsAlone|default([])|length > 0 %}
	<!-- Start Gallery -->
	<div class="gallery-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Nuestros Productos</h2>
					</div>
				</div>
			</div>
			<div class="tz-gallery">
				<div class="row">
					{% for producto in content.productsAlone|slice(0, 5) %}
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox">
							<img class="img-fluid" src="{{ '/uploads/' ~ producto.photos.0.photoPath|default }}" alt="{{ producto.nombreProducto }}">
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- End Gallery -->
	{% endif %}

	{% if '1' != content.local.ocultarFormularioContacto|default %}
		<!-- Start Contact -->
	<div class="contact-box" id="contactar">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Contactar</h2>
						<p>Puedes enviarnos un formulario de contacto.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<form id="contactForm">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
									<div class="help-block with-errors"></div>
								</div>                                 
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
									<div class="help-block with-errors"></div>
								</div> 
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<select class="custom-select d-block form-control" id="guest" required data-error="Please Select Person">
									  <option disabled selected>Please Select Person*</option>
									  <option value="1">1</option>
									  <option value="2">2</option>
									  <option value="3">3</option>
									  <option value="4">4</option>
									  <option value="5">5</option>
									</select>
									<div class="help-block with-errors"></div>
								</div> 
							</div>
							<div class="col-md-12">
								<div class="form-group"> 
									<textarea class="form-control" id="message" placeholder="Your Message" rows="4" data-error="Write your message" required></textarea>
									<div class="help-block with-errors"></div>
								</div>
								<div class="submit-button text-center">
									<button class="btn btn-common" id="submit" type="submit">Send Message</button>
									<div id="msgSubmit" class="h3 text-center hidden"></div> 
									<div class="clearfix"></div> 
								</div>
							</div>
						</div>            
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->
	{% endif %}

	{% if content.informationForLocal.maps|default(null) %}
		{% include '/Local/Themes/Components/googleMaps.html.twig' with {'srcMaps': content.informationForLocal.maps|default }%}
	{% endif %}
	
	<!-- Start Footer -->
	<footer class="footer-area bg-f" style="background-color:#010101 ">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>Sobre Nosotros</h3>
					<p>{{ content.informationForLocal.descripcion }}</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Contacto</h3>
					<p class="lead">{{ content.informationForLocal.direccionCompleta }} {{ content.informationForLocal.localidad }} {{ content.informationForLocal.ciudad }}</p>
					<p class="lead">	{{ content.informationForLocal.telefono }}</p>
					<p><a href="#"> {{ content.informationForLocal.email }}</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					{% set lunesHorarioApertura = '' %}
					{% set lunesHorarioCierre = '' %}
					{% set lunesNoMostrarHorario = '' %}

					{% set martesHorarioApertura = '' %}
					{% set martesHorarioCierre ='' %}
					{% set martesNoMostrarHorario = '' %}

					{% set miercolesHorarioApertura = '' %}
					{% set miercolesHorarioCierre = '' %}
					{% set miercolesNoMostrarHorario = '' %}

					{% set juevesHorarioApertura = '' %}
					{% set juevesHorarioCierre ='' %}
					{% set juevesNoMostrarHorario = '' %}

					{% set viernesHorarioApertura = '' %}
					{% set viernesHorarioCierre ='' %}
					{% set viernesNoMostrarHorario = '' %}

					{% set sabadoHorarioApertura = '' %}
					{% set sabadoHorarioCierre = '' %}
					{% set sabadoNoMostrarHorario = '' %}

					{% set domingoHorarioApertura ='' %}
					{% set domingoHorarioCierre = '' %}
					{% set domingoNoMostrarHorario = '' %}

				{% for horario in content.informationForLocal.horariosLocal|default %}
				    {% if horario.diaSemana == 'Lunes' %}
						{% set lunesHorarioApertura = horario.horaApertura|default %}
						{% set lunesHorarioCierre = horario.horaCierre|default %}
						{% set lunesNoMostrarHorario = horario.noMostrarHora|default %}

					{% elseif horario.diaSemana == 'Martes' %}
						{% set martesHorarioApertura = horario.horaApertura|default %}
						{% set martesHorarioCierre = horario.horaCierre|default %}
						{% set martesNoMostrarHorario = horario.noMostrarHora|default %}

					{% elseif horario.diaSemana == 'Miercoles' %}

						{% set miercolesHorarioApertura = horario.horaApertura|default %}
						{% set miercolesHorarioCierre = horario.horaCierre|default %}
						{% set miercolesNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Jueves' %}

						{% set juevesHorarioApertura = horario.horaApertura|default %}
						{% set juevesHorarioCierre = horario.horaCierre|default %}
						{% set juevesNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Viernes' %}

						{% set viernesHorarioApertura = horario.horaApertura|default %}
						{% set viernesHorarioCierre = horario.horaCierre|default %}
						{% set viernesNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Sabado' %}

						{% set sabadoHorarioApertura = horario.horaApertura|default %}
						{% set sabadoHorarioCierre = horario.horaCierre|default %}	
						{% set sabadoNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Domingo' %}

						{% set domingoHorarioApertura = horario.horaApertura|default %}
						{% set domingoHorarioCierre = horario.horaCierre|default %}		
						{% set domingoNoMostrarHorario = horario.noMostrarHora|default %}
					{% endif %}
				{% endfor %}

					<h3>Horarios de apertura:</h3>

					<p><span class="text-color">Lunes: {% if lunesNoMostrarHorario|default %} Cerrado {% endif %} {% if not lunesNoMostrarHorario|default %}</span>{{ lunesHorarioApertura|date('H:i') }} - {{ lunesHorarioCierre|date('H:i') }} {% endif %}</p> 
					<p><span class="text-color">Martes:{% if martesNoMostrarHorario|default %} Cerrado {% endif %}  {% if not martesNoMostrarHorario|default %}</span>{{ martesHorarioApertura|date('H:i') }} - {{ martesHorarioCierre|date('H:i') }} {% endif %}</p> 
					<p><span class="text-color">Miércoles: {% if miercolesNoMostrarHorario|default %} Cerrado {% endif %} {% if not miercolesNoMostrarHorario|default %}</span>{{ miercolesHorarioApertura|date('H:i') }} - {{ miercolesHorarioCierre|date('H:i') }} {% endif %}</p> 
					<p><span class="text-color">Jueves: {% if juevesNoMostrarHorario|default %} Cerrado {% endif %} {% if not juevesNoMostrarHorario|default %}</span>{{ juevesHorarioApertura|date('H:i') }} - {{ juevesHorarioCierre|date('H:i') }} {% endif %}</p> 
					<p><span class="text-color">Viernes: {% if viernesNoMostrarHorario|default %} Cerrado {% endif %} {% if not viernesNoMostrarHorario|default %}</span>{{ viernesHorarioApertura|date('H:i') }} - {{ viernesHorarioCierre|date('H:i') }} {% endif %}</p> 
					<p><span class="text-color">Sábado: {% if sabadoNoMostrarHorario|default %} Cerrado {% endif %} {% if not sabadoNoMostrarHorario|default %}</span>{{ sabadoHorarioApertura|date('H:i') }} - {{ sabadoHorarioCierre|date('H:i') }} {% endif %}</p> 
					<p><span class="text-color">Domingo: {% if domingoNoMostrarHorario|default %} Cerrado {% endif %} {% if not domingoNoMostrarHorario|default %}</span>{{ domingoHorarioApertura|date('H:i') }} - {{ domingoHorarioCierre|date('H:i') }} {% endif %}</p>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2024 <a href="#">{{ content.local.nombreLocal }}</a> Design By : 
					<a href="https://html.design/" rel="nofollow">html design</a>
					<a href="/politica-de-privacidad/" rel="nofollow">Política de Privacidad</a> |
					<a href="/terminos-y-condiciones-de-uso/" rel="nofollow">Terminos & Condiciones de Uso</a> |
					<a href="/aviso-legal/" rel="nofollow">Aviso Legal</a>
					</p>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
	<!-- End Footer -->
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

	<!-- ALL JS FILES -->
	<script src="themes/3/js/jquery-3.2.1.min.js"></script>
	<script src="themes/3/js/popper.min.js"></script>
	<script src="themes/3/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="themes/3/js/images-loded.min.js"></script>
    <script src="themes/3/js/custom.js"></script>
	{% if app.request.query.get('edit-photos')%}
		{% include '/Local/Themes/Components/buttonChangePhotoOfJs.html.twig' %}
	{% endif %}
</body>
</html>