<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
	<title>{{ content.local.descripcionLocal }} | {{ content.local.nombreLocal }}</title>  
	<meta name="description" content="{{ content.informationForLocal.descripcion }}">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="themes/3/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="themes/3/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="themes/3/css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="themes/3/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="themes/3/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="themes/3/css/custom.css">

</head>

{% set photosTheme = content.informationForLocal.photos %}

{% set photo1 = 'themes/1/images/bg_6.jpg' %}
{% set photo2 = 'themes/1/images/bg_4.jpg' %}
{% set photo3 = 'themes/1/images/breakfast-1.jpg' %}
{% set photo4 = 'themes/1/images/breakfast-1.jpg' %}
{% set photo5 = 'themes/2/images/reservations.jpg' %}

{% for photo in photosTheme %}
	{% if photo.orden == 1 %}
		{% set photo1 = photo.photoPath %}
	{% elseif photo.orden == 2 %}
		{% set photo2 = photo.photoPath %}
	{% elseif photo.orden == 3 %}
		{% set photo3 = photo.photoPath %}
	{% elseif photo.orden == 4 %}
		{% set photo4 = photo.photoPath %}		
	{% elseif photo.orden == 5 %}
		{% set photo5 = photo.photoPath %}		
	{% endif %}
{% endfor %}

{% if content.local.colorWeb|default %}
<style>

.inner-menu-box .nav-pills .nav-link.active {
background: {{ content.local.colorWeb }} !important
}

.inner-menu-box .nav-pills .nav-link.active {
background: {{ content.local.colorWeb }} !important
}
.inner-menu-box .nav-pills .nav-link:hover{
background: {{ content.local.colorWeb }} !important
color: #ffffff;
}
.footer-area h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid {{ content.local.colorWeb }};
    margin-bottom: 10px;
}
.copyright {
    margin-top: 20px;
    position: relative;
    display: block;
    background-color: #010101;
    border-top: 1px solid {{ content.local.colorWeb }};
    padding: 30px 0;
    z-index: 1;
}
</style>
{% endif %}

<body>
	{% include '/Local/Themes/Components/flashAlertThemes.html.twig' %}

	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#slides">
				{% if content.local.logo|default %}
					<img src="{{ content.local.logo }}" alt="{{ content.local.nombreLocal }}" with="50px" height="50px"/>
				{% else %}
					<p>{{ content.local.nombreLocal }}</p>
				{% endif %}
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="#slides" style="background:{{ content.local.colorWeb|default('#d65106') }}">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" href="#menu">Menu</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<!-- Start slides -->
	<div id="slides" class="cover-slides" style="position: relative; overflow: hidden; width: 100%; height: 931px;">
		<div class="slides-control" style="position: relative; height: 100%; width: 100%; left: -1393px;">
			<ul class="slides-container" style="margin: 0px; padding: 0px; list-style: none; position: relative; height: 100%; display: block;">
				<li class="text-left" style="display: block; left: 1393px; position: absolute; overflow: hidden; height: 100%; width:100%; top: 0px; z-index: 2; opacity: 1;">
					<img id="image-1" src="{{ photo1|default('themes/3/images/slider-01.jpg') }} " alt="" style="backface-visibility: hidden; position: absolute; top: 0px; z-index: -1; max-width: none; height: 931px; width:100%;">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1 class="m-b-20">{{ content.local.nombreLocal }}</h1>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
{% if content.userIsAdmin|default(false) %}
	{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'idPhoto': 1 }%}
{% endif %}
	<!-- End slides -->
	
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h4>Sobre Nosotros</h4>
						<p>{{ content.informationForLocal.descripcion }}</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img id="image-2" src="{{ photo2|default('themes/3/images/about-img.jpg') }}" alt="" class="img-fluid" style="box-shadow: 20px 20px 0px {{ content.local.colorWeb|default('#d65106') }}" >
				{% if content.userIsAdmin|default(false) %}
					{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 2', 'idPhoto': 2  } %}
				{% endif %}
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
	
	<!-- Start QT -->
	<div id="image-3" class="qt-box qt-background" style="background: url('themes/3/images/qt-bg.jpg'); background-attachment: fixed; background-position: center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<p class="lead ">
						{{ content.local.descripcionLocal }}
					</p>
				</div>
			</div>
		</div>
	</div>
{% if content.userIsAdmin|default(false) %}
	{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 3', 'idPhoto': 3  } %}
{% endif %}
	<!-- End QT -->
	
	<!-- Start Menu -->
	<div class="menu-box" id="menu">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Menú</h2>
					</div>
				</div>
			</div>
			
			<div class="row inner-menu-box">
				<div class="col-3">
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
						<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Drinks</a>
						<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Lunch</</a>
						<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Dinner</a>
					</div>
				</div>
				
				<div class="col-9">
					<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
							<div class="row">
								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-01.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Drinks 1</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $7.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-02.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Drinks 2</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $9.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-03.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Drinks 3</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $10.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid lunch">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-04.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Lunch 1</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $15.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid lunch">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-05.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Lunch 2</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $18.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid lunch">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-06.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Lunch 3</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $20.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid dinner">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-07.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Dinner 1</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $25.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid dinner">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-08.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Dinner 2</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $22.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid dinner">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-09.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Dinner 3</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $24.79</h5>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
							<div class="row">
								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-01.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Drinks 1</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $7.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-02.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Drinks 2</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $9.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-03.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Drinks 3</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $10.79</h5>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<div class="row">
								<div class="col-lg-4 col-md-6 special-grid lunch">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-04.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Lunch 1</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $15.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid lunch">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-05.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Lunch 2</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $18.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid lunch">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-06.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Lunch 3</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $20.79</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
							<div class="row">
								<div class="col-lg-4 col-md-6 special-grid dinner">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-07.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Dinner 1</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $25.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid dinner">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-08.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Dinner 2</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $22.79</h5>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid dinner">
									<div class="gallery-single fix">
										<img src="themes/3/images/img-09.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Special Dinner 3</h4>
											<p>Sed id magna vitae eros sagittis euismod.</p>
											<h5> $24.79</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- End Menu -->
	
	<!-- Start Gallery -->
	<div class="gallery-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Nuestros Productos</h2>
					</div>
				</div>
			</div>
			<div class="tz-gallery">
				<div class="row">
					{% for producto in content.productsAlone|slice(0, 5) %}
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox">
							<img class="img-fluid" src="{{ producto.photos.0.photoPath|default }}" alt="{{ producto.nombreProducto }}">
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- End Gallery -->
	{% if content.informationForLocal.maps|default(null) %}
		{% include '/Local/Themes/Components/googleMaps.html.twig' with {'srcMaps': content.informationForLocal.maps|default }%}
	{% endif %}
	<!-- Start Footer -->
	<footer class="footer-area bg-f" style="background-color:#010101 ">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>Sobre Nosotros</h3>
					<p>{{ content.informationForLocal.descripcion }}</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Contacto</h3>
					<p class="lead">{{ content.informationForLocal.calle }} {{ content.informationForLocal.localidad }} {{ content.informationForLocal.ciudad }}</p>
					<p class="lead">	{{ content.informationForLocal.telefono }}</p>
					<p><a href="#"> {{ content.informationForLocal.email }}</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Opening hours</h3>
					<p><span class="text-color">Monday: </span>Closed</p>
					<p><span class="text-color">Tue-Wed :</span> 9:Am - 10PM</p>
					<p><span class="text-color">Thu-Fri :</span> 9:Am - 10PM</p>
					<p><span class="text-color">Sat-Sun :</span> 5:PM - 10PM</p>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2018 <a href="#">Live Dinner Restaurant</a> Design By : 
					<a href="https://html.design/">html design</a></p>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
	<!-- End Footer -->
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

	<!-- ALL JS FILES -->
	<script src="themes/3/js/jquery-3.2.1.min.js"></script>
	<script src="themes/3/js/popper.min.js"></script>
	<script src="themes/3/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="themes/3/js/images-loded.min.js"></script>
    <script src="themes/3/js/custom.js"></script>
	{% if app.request.query.get('edit-photos')%}
		{% include '/Local/Themes/Components/buttonChangePhotoOfJs.html.twig' %}
	{% endif %}
</body>
</html>