<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ content.local.descripcionLocal }} | {{ content.local.nombreLocal }}</title>  
<meta name="description" content="{{ content.informationForLocal.descripcion }}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="themes/2/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="themes/2/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="themes/2/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="themes/2/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="themes/2/plugins/OwlCarousel2-2.2.1/animate.css">
<link href="themes/2/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link href="themes/2/plugins/jquery-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="themes/2/plugins/jquery-timepicker/jquery.timepicker.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="themes/2/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="themes/2/styles/responsive.css">
</head>
	<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
</style>
<body>

{% set photosTheme = content.informationForLocal.photos %}

{% set photo1 = 'themes/1/images/bg_6.jpg' %}
{% set photo2 = 'themes/1/images/bg_4.jpg' %}
{% set photo3 = 'themes/1/images/breakfast-1.jpg' %}
{% set photo4 = 'themes/1/images/breakfast-1.jpg' %}

{% for photo in photosTheme %}
	{% if photo.orden == 1 %}
		{% set photo1 = photo.photoPath %}
	{% elseif photo.orden == 2 %}
		{% set photo2 = photo.photoPath %}
	{% elseif photo.orden == 3 %}
		{% set photo3 = photo.photoPath %}
	{% elseif photo.orden == 4 %}
		{% set photo4 = photo.photoPath %}		
	{% endif %}
{% endfor %}

	{% include '/Local/Themes/Components/flashAlertThemes.html.twig' %}

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="logo">
							<a href="#">
								<div>{{ content.local.nombreLocal }}</div>
							</a>
						</div>
						<nav class="main_nav">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li><a href="index.html">home</a></li>
								<li><a href="about.html">about us</a></li>
								<li><a href="menu.html">menu</a></li>
								<li><a href="#">delivery</a></li>
								<li><a href="blog.html">blog</a></li>
								<li><a href="contact.html">contact</a></li>
							</ul>
						</nav>
						<div class="reservations_phone ml-auto">Contactar: {{ content.informationForLocal.telefono }}</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Hamburger -->
	
	<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
		<div class="hamburger">
			<div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
				<span>menu</span>
				<div class="hamburger_container">
					<div class="menu_hamburger">
						<div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
						<div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
						<div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Menu -->

	<div class="menu trans_800">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<ul>
				<li><a href="index.html">home</a></li>
				<li><a href="about.html">about us</a></li>
				<li><a href="menu.html">menu</a></li>
				<li><a href="#">delivery</a></li>
				<li><a href="blog.html">blog</a></li>
				<li><a href="contact.html">contact</a></li>
			</ul>
		</div>
		<div class="menu_reservations_phone ml-auto">Contactar: {{ content.informationForLocal.telefono }}</div>
	</div>
	
	<!-- Home -->

	<div class="home">
		<div id="image-1" class="parallax_background parallax-window" data-parallax="scroll" style="background-image: url({{ photo1 }});" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_title"><h1>{{ content.local.nombreLocal }}</h1></div>
							<div class="home_text ml-auto mr-auto">
								<p>{{ content.local.descripcionLocal }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if content.userIsAdmin|default(false) %}
		{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'idPhoto': 1 }%}
	{% endif %}
	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_content">
						<div class="intro_title"><h2>Sobre Nosotros</h2></div>
						<div class="intro_text">
							<p> {{ content.informationForLocal.descripcion  }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4 col-md-6 intro_col">
							<div class="intro_image"><img id="image-2" src=" {{ photo2 }}"></div>
						</div>
						<div class="col-xl-4 col-md-6 intro_col">
							<div class="intro_image"><img  id="image-3" src=" {{ photo3 }}"></div>
						</div>
					</div>
				</div>	
			</div>
			{% if content.userIsAdmin|default(false) %}
				{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 2', 'idPhoto': 2 } %}
				{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 3', 'idPhoto': 3 } %}
			{% endif %}
		</div>
	</div>

	<!-- Video -->

	<div class="video_section">
		<div class="background_image" style="background-image:url(themes/2/images/video.jpg)"></div>
		<div class="video_section_content d-flex flex-column align-items-center justify-content-center text-center">
			<div class="video_section_title">Food for the soul</div>
			<div class="video_section_icon"><a class="vimeo video_button" href="https://player.vimeo.com/video/99340873?autoplay=1&loop=1&title=0&autopause=0"><i class="fa fa-play" aria-hidden="true"></i></a></div>
		</div>
	</div>
	{% if content.userIsAdmin|default(false) %}
		{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 4', 'idPhoto': 4  } %}
	{% endif %}
	<!-- Signature Dish -->

	<div class="sig">
		<div class="sig_content_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="sig_content">
							<div class="sig_subtitle page_subtitle">Something new</div>
							<div class="sig_title"><h1>Our Signature Dish</h1></div>
							<div class="rating_r sig_rating rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
							<div class="sig_name_container d-flex flex-row align-items-start justify-content-start">
								<div class="sig_name">Pork Tenderloin marinated in Green Pepper</div>
								<div class="sig_price ml-auto">$20</div>
							</div>
							<div class="sig_content_list">
								<ul class="d-flex flex-row align-items-center justify-content-start">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
									<li>Veggies</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sig_image_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 offset-lg-5">
						<div class="sig_image">
							<div class="background_image" style="background-image:url(themes/2/images/sig.jpg)"></div>
							<img src="themes/2/images/sig.jpg" alt="">
						</div>
							{% if content.userIsAdmin|default(false) %}
								{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 5', 'idPhoto': 5  } %}
							{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- The Menu -->

	<div class="themenu">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="themenu_title_bar_container">
						<div class="themenu_stars text-center page_subtitle">5 Stars</div>
						<div class="themenu_rating text-center">
							<div class="rating_r rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
						</div>
						<div class="themenu_title_bar d-flex flex-column align-items-center justify-content-center">
							<div class="themenu_title">The Menu</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row themenu_row">

				{% for menu in content.menus %}

				<div class="col-lg-4 themenu_column">

					<div class="themenu_col">

						<div class="themenu_col_title">{{ menu.nombreMenu }}</div>

						<div class="dish_list">
						{% for producto in menu.productos %}
							<div class="dish">
								<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
									<div class="dish_title">{{ producto.nombreProducto }}</div>
									<div class="dish_price">{{ producto.precioProducto }}€</div>
								</div>
							</div>
						{% endfor %}

						</div>
					</div>

				</div>
				{% endfor %}



			</div>
		</div>		
	</div>

	<!-- Reservations -->
	{% if content.userIsAdmin|default(false) %}
		{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 5', 'idPhoto': 6  } %}
	{% endif %}
	<div class="reservations text-center">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="themes/2/images/reservations.jpg" data-speed="0.8">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="reservations_content d-flex flex-column align-items-center justify-content-center">
						<div class="res_title">Contactar</div>
						<div class="res_form_container">
							<form action="#" id="res_form" class="res_form">
								<div class="d-flex flex-sm-row flex-column align-items-center justify-content-start">
									<label class="res_title" style="font-size: 30px">Nombre: </label>
									<input type="text" class="res_input" required="required" style="font-size: 30px">
									<label class="res_title" style="font-size: 30px">Email: </label>
									<input type="text" class="res_input" required="required" style="font-size: 30px">
								</div>
								<div class="d-flex flex-sm-row flex-column align-items-center justify-content-start">
									<label class="res_title" style="font-size: 30px">Mensaje: </label>
									<textarea type="text" cols="30" rows="5"  class="res_input" required="required" style="font-size: 30px"> </textarea>
								</div>
								<button class="res_button">Enviar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>		
		</div>
	</div>
	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<!-- Footer Logo -->
				<div class="col-lg-3 footer_col">
					<div class="footer_logo">
						<div class="footer_logo_title">{{ content.local.nombreLocal }}</div>
					</div>
					<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<p style="line-height: 1.2;">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
				</div>

				<!-- Footer About -->
				<div class="col-lg-6 footer_col">
					<div class="footer_about">
						<p>{{ content.informationForLocal.descripcion }}</p>
					</div>
				</div>

				<!-- Footer Contact -->
				<div class="col-lg-3 footer_col">
					<div class="footer_contact">
						<ul>
							<li class="d-flex flex-row align-items-start justify-content-start">
								<div><div class="footer_contact_title">Dirección:</div></div>
								<div class="footer_contact_text">{{ content.informationForLocal.calle }} {{  content.informationForLocal.localidad }}</div>
							</li>
							<li class="d-flex flex-row align-items-start justify-content-start">
								<div><div class="footer_contact_title">Email:</div></div>
								<div class="footer_contact_text">{{ content.informationForLocal.email }}</div>
							</li>
							<li class="d-flex flex-row align-items-start justify-content-start">
								<div><div class="footer_contact_title">Teléfono:</div></div>
								<div class="footer_contact_text">{{ content.informationForLocal.telefono }}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="themes/2/js/jquery-3.2.1.min.js"></script>
<script src="themes/2/styles/bootstrap-4.1.2/popper.js"></script>
<script src="themes/2/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="themes/2/plugins/greensock/TweenMax.min.js"></script>
<script src="themes/2/plugins/greensock/TimelineMax.min.js"></script>
<script src="themes/2/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="themes/2/plugins/greensock/animation.gsap.min.js"></script>
<script src="themes/2/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="themes/2/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="themes/2/plugins/easing/easing.js"></script>
<script src="themes/2/plugins/parallax-js-master/parallax.min.js"></script>
<script src="themes/2/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="themes/2/plugins/jquery-datepicker/jquery-ui.js"></script>
<script src="themes/2/plugins/jquery-timepicker/jquery.timepicker.js"></script>
<script src="themes/2/js/custom.js"></script>
{% include '/Local/Themes/Components/buttonChangePhotoOfJs.html.twig' %}

</body>
</html>