<!DOCTYPE html>
<html lang="es">
<head>

{% include '/Local/Themes/Components/SEO/metas.html.twig' %}

<link rel="stylesheet" type="text/css" href="themes/2/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="themes/2/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="themes/2/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="themes/2/styles/responsive.css">
{% include '/Local/Themes/Components/SEO/jsonLd.html.twig' %}

</head>
	<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
</style>
<body>

{% set photosTheme = content.informationForLocal.photos %}

{% set photo1 = 'themes/1/images/bg_6.jpg' %}
{% set photo2 = 'themes/1/images/bg_4.jpg' %}
{% set photo3 = 'themes/1/images/breakfast-1.jpg' %}
{% set photo4 = 'themes/1/images/breakfast-1.jpg' %}
{% set photo5 = 'themes/2/images/reservations.jpg' %}
{% set photo6 = 'themes/2/images/reservations.jpg' %}

{% for photo in photosTheme %}
	{% if photo.orden == 1 %}
		{% set photo1 = '/uploads/' ~ photo.photoPath %}
	{% elseif photo.orden == 2 %}
		{% set photo2 =  '/uploads/' ~ photo.photoPath %}
	{% elseif photo.orden == 3 %}
		{% set photo3 =  '/uploads/' ~ photo.photoPath %}
	{% elseif photo.orden == 4 %}
		{% set photo4 =  '/uploads/' ~ photo.photoPath %}		
	{% elseif photo.orden == 5 %}
		{% set photo5 =  '/uploads/' ~ photo.photoPath %}	
	{% elseif photo.orden == 6 %}
		{% set photo6 =  '/uploads/' ~ photo.photoPath %}			
	{% endif %}
{% endfor %}

	{% include '/Local/Themes/Components/flashAlertThemes.html.twig' %}

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="logo">
							<a href="#">
								<div>{{ content.local.nombreLocal }}</div>
							</a>
						</div>
						<nav class="main_nav">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li><a href="#inicio">Inicio</a></li>
								<li><a href="#menus">Menu</a></li>
								{% if '1' != content.local.ocultarFormularioContacto|default %}<li><a href="#contactar">Contactar</a></li>{% endif %}
							</ul>
						</nav>
						<div class="reservations_phone ml-auto">{{ content.informationForLocal.telefono }}</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Hamburger -->
	
	<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
		<div class="hamburger">
			<div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
				<span>menu</span>
				<div class="hamburger_container">
					<div class="menu_hamburger">
						<div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
						<div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
						<div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Menu -->

	<div class="menu trans_800">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<ul>
				<li><a href="#inicio">Inicio</a></li>
				<li><a href="#menu">Menu</a></li>
			</ul>
		</div>
		<div class="menu_reservations_phone ml-auto">{{ content.informationForLocal.telefono }}</div>
	</div>
	
	<!-- Home -->

	<div class="home" id="inicio">
		<div id="image-1" class="parallax_background parallax-window" data-parallax="scroll" style="background-image: url({{ photo1 }});" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_title"><h1>{{ content.local.nombreLocal }}</h1></div>
							<div class="home_text ml-auto mr-auto">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if content.userIsAdmin|default(false) %}
		{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'idPhoto': 1 }%}
	{% endif %}
	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_content">
						<div class="intro_title"><h2>Sobre Nosotros</h2></div>
						<div class="intro_text">
							<p> {{ content.informationForLocal.descripcion  }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4 col-md-6 intro_col">
							<div class="intro_image"><img id="image-2" src=" {{ photo2 }}"></div>
						</div>
						<div class="col-xl-4 col-md-6 intro_col">
							<div class="intro_image"><img  id="image-3" src=" {{ photo3 }}"></div>
						</div>
					</div>
				</div>	
			</div>
			{% if content.userIsAdmin|default(false) %}
				{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 2', 'idPhoto': 2 } %}
				{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 3', 'idPhoto': 3 } %}
			{% endif %}
		</div>
	</div>

	<!-- Signature Dish -->

	<div class="sig">
		<div class="sig_content_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="sig_content">
							<div class="sig_name_container d-flex flex-row align-items-start justify-content-start">
								<div class="sig_name">{{ content.local.descripcionLocal }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sig_image_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 offset-lg-5">
						<div class="sig_image">
							<div id="image-4" class="background_image" style="background-image:url({{ photo4|default('themes/2/images/sig.jpg') }})"></div>
						</div>
							{% if content.userIsAdmin|default(false) %}
								{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 4', 'idPhoto': 4  } %}
							{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% if content.menus|default %}
	<!-- The Menu -->
	<div class="themenu" id="menus">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="themenu_title_bar_container">
						<div class="themenu_rating text-center">
						</div>
						<div class="themenu_title_bar d-flex flex-column align-items-center justify-content-center">
							<h2 class="themenu_title">Nuestro menu</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row themenu_row">

				{% for menu in content.menus %}
				<div class="col-lg-4 themenu_column">
					<div class="themenu_col">
						<h3 class="themenu_col_title">{{ menu.nombreMenu }}</h3>
						<div class="dish_list">
						{% for producto in menu.productos %}
							<div class="dish">
								<div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
									<h4 class="dish_title">{{ producto.nombreProducto }}</h4>
									<div class="dish_price">{{ producto.precioProducto }}€</div>
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>		
	</div>
	{% endif %}

	{% if '1' != content.local.ocultarFormularioContacto|default %}
		<!-- Contact Form -->
	<div class="themenu" id="contactar">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="themenu_title_bar_container">
						<div class="themenu_rating text-center">
						</div>
						<div class="themenu_title_bar d-flex flex-column align-items-center justify-content-center">
							<h2 class="themenu_title">Contactar</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row themenu_row">
				<div class="col-lg-12 themenu_column">
					<form name="sentMessage" id="contactForm">
						<div class="row">
						<div class="col-md-6">
							<div class="form-group">
							<input type="text" id="name" class="form-control" placeholder="Name" required="required">
							<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
							<input type="email" id="email" class="form-control" placeholder="Email" required="required">
							<p class="help-block text-danger"></p>
							</div>
						</div>
						</div>
						<div class="form-group">
						<textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
						<p class="help-block text-danger"></p>
						</div>
						<div id="success"></div>
						<button type="submit" class="btn btn-custom btn-lg">Contactar</button>
					</form>
				</div>
			</div>
		</div>		
	</div>
	{% endif %}

	{% if content.informationForLocal.maps|default(null) %}
		{% include '/Local/Themes/Components/googleMaps.html.twig' with {'srcMaps': content.informationForLocal.maps|default }%}
	{% endif %}
	
	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<!-- Footer Logo -->
				<div class="col-lg-3 footer_col">
					<div class="footer_logo">
						<div class="footer_logo_title">{{ content.local.nombreLocal }}</div>
					</div>
					<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<p style="line-height: 1.2;">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
				</div>

				<!-- Footer -->
					{% set lunesHorarioApertura = '' %}
					{% set lunesHorarioCierre = '' %}
					{% set lunesNoMostrarHorario = '' %}

					{% set martesHorarioApertura = '' %}
					{% set martesHorarioCierre ='' %}
					{% set martesNoMostrarHorario = '' %}

					{% set miercolesHorarioApertura = '' %}
					{% set miercolesHorarioCierre = '' %}
					{% set miercolesNoMostrarHorario = '' %}

					{% set juevesHorarioApertura = '' %}
					{% set juevesHorarioCierre ='' %}
					{% set juevesNoMostrarHorario = '' %}

					{% set viernesHorarioApertura = '' %}
					{% set viernesHorarioCierre ='' %}
					{% set viernesNoMostrarHorario = '' %}

					{% set sabadoHorarioApertura = '' %}
					{% set sabadoHorarioCierre = '' %}
					{% set sabadoNoMostrarHorario = '' %}

					{% set domingoHorarioApertura ='' %}
					{% set domingoHorarioCierre = '' %}
					{% set domingoNoMostrarHorario = '' %}

					{% for horario in content.informationForLocal.horariosLocal|default %}
				    {% if horario.diaSemana == 'Lunes' %}
						{% set lunesHorarioApertura = horario.horaApertura|default %}
						{% set lunesHorarioCierre = horario.horaCierre|default %}
						{% set lunesNoMostrarHorario = horario.noMostrarHora|default %}

					{% elseif horario.diaSemana == 'Martes' %}
						{% set martesHorarioApertura = horario.horaApertura|default %}
						{% set martesHorarioCierre = horario.horaCierre|default %}
						{% set martesNoMostrarHorario = horario.noMostrarHora|default %}

					{% elseif horario.diaSemana == 'Miercoles' %}

						{% set miercolesHorarioApertura = horario.horaApertura|default %}
						{% set miercolesHorarioCierre = horario.horaCierre|default %}
						{% set miercolesNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Jueves' %}

						{% set juevesHorarioApertura = horario.horaApertura|default %}
						{% set juevesHorarioCierre = horario.horaCierre|default %}
						{% set juevesNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Viernes' %}

						{% set viernesHorarioApertura = horario.horaApertura|default %}
						{% set viernesHorarioCierre = horario.horaCierre|default %}
						{% set viernesNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Sabado' %}

						{% set sabadoHorarioApertura = horario.horaApertura|default %}
						{% set sabadoHorarioCierre = horario.horaCierre|default %}	
						{% set sabadoNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Domingo' %}

						{% set domingoHorarioApertura = horario.horaApertura|default %}
						{% set domingoHorarioCierre = horario.horaCierre|default %}		
						{% set domingoNoMostrarHorario = horario.noMostrarHora|default %}
					{% endif %}
					{% endfor %}

				<div class="col-lg-6 footer_col">
					<div class="footer_about">
						<ul>
							<li class="d-flex flex-row align-items-start justify-content-start">
								<div><div class="footer_contact_title" style="width: 150px">Horarios de apertura:</div></div>
							</li>
							
					<li class="d-flex flex-row align-items-start justify-content-start" style="color: white">Lunes: {% if lunesNoMostrarHorario|default %} Cerrado {% endif %} {% if not lunesNoMostrarHorario|default %} {{ lunesHorarioApertura|date('H:i') }} - {{ lunesHorarioCierre|date('H:i') }} {% endif %} </li> 
					<li class="d-flex flex-row align-items-start justify-content-start"  style="color: white">Martes:{% if martesNoMostrarHorario|default %} Cerrado {% endif %}  {% if not martesNoMostrarHorario|default %} {{ martesHorarioApertura|date('H:i') }} - {{ martesHorarioCierre|date('H:i') }} {% endif %} </li>
					<li class="d-flex flex-row align-items-start justify-content-start"  style="color: white">Miércoles: {% if miercolesNoMostrarHorario|default %} Cerrado {% endif %} {% if not miercolesNoMostrarHorario|default %} {{ miercolesHorarioApertura|date('H:i') }} - {{ miercolesHorarioCierre|date('H:i') }} {% endif %} </li>
					<li class="d-flex flex-row align-items-start justify-content-start"  style="color: white">Jueves: {% if juevesNoMostrarHorario|default %} Cerrado {% endif %} {% if not juevesNoMostrarHorario|default %} {{ juevesHorarioApertura|date('H:i') }} - {{ juevesHorarioCierre|date('H:i') }} {% endif %} </li>
					<li class="d-flex flex-row align-items-start justify-content-start"  style="color: white">Viernes: {% if viernesNoMostrarHorario|default %} Cerrado {% endif %} {% if not viernesNoMostrarHorario|default %} {{ viernesHorarioApertura|date('H:i') }} - {{ viernesHorarioCierre|date('H:i') }} {% endif %} </li>
					<li class="d-flex flex-row align-items-start justify-content-start"  style="color: white">Sábado: {% if sabadoNoMostrarHorario|default %} Cerrado {% endif %} {% if not sabadoNoMostrarHorario|default %} {{ sabadoHorarioApertura|date('H:i') }} - {{ sabadoHorarioCierre|date('H:i') }} {% endif %} </li>
					<li class="d-flex flex-row align-items-start justify-content-start"  style="color: white">Domingo: {% if domingoNoMostrarHorario|default %} Cerrado {% endif %} {% if not domingoNoMostrarHorario|default %} {{ domingoHorarioApertura|date('H:i') }} - {{ domingoHorarioCierre|date('H:i') }} {% endif %} </li>
							
						</ul>
					</div>
				</div>

				<!-- Footer Contact -->
				<div class="col-lg-3 footer_col">
					<div class="footer_contact">
						<ul>
							<li class="d-flex flex-row align-items-start justify-content-start">
								<div><div class="footer_contact_title">Dirección:</div></div>
								<div class="footer_contact_text">{{ content.informationForLocal.direccionCompleta }} {{  content.informationForLocal.localidad }}</div>
							</li>
							<li class="d-flex flex-row align-items-start justify-content-start">
								<div><div class="footer_contact_title">Email:</div></div>
								<div class="footer_contact_text">{{ content.informationForLocal.email }}</div>
							</li>
							<li class="d-flex flex-row align-items-start justify-content-start">
								<div><div class="footer_contact_title">Teléfono:</div></div>
								<div class="footer_contact_text">{{ content.informationForLocal.telefono }}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="themes/2/js/jquery-3.2.1.min.js"></script>
<script src="themes/2/styles/bootstrap-4.1.2/popper.js"></script>
<script src="themes/2/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="themes/2/plugins/greensock/TweenMax.min.js"></script>
<script src="themes/2/plugins/greensock/TimelineMax.min.js"></script>

<script src="themes/2/plugins/parallax-js-master/parallax.min.js"></script>
<script src="themes/2/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="themes/2/plugins/jquery-datepicker/jquery-ui.js"></script>
<script src="themes/2/plugins/jquery-timepicker/jquery.timepicker.js"></script>
<script src="themes/2/js/custom.js"></script>
{% if app.request.query.get('edit-photos')%}
	{% include '/Local/Themes/Components/buttonChangePhotoOfJs.html.twig' %}
{% endif %}
</body>
</html>