
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>

{% include '/Local/Themes/Components/SEO/metas.html.twig' %}
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="themes/6/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="themes/6/css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="themes/6/css/simple-line-icons.css">
	<!-- Datetimepicker -->
	<link rel="stylesheet" href="themes/6/css/bootstrap-datetimepicker.min.css">
	<!-- Flexslider -->
	<link rel="stylesheet" href="themes/6/css/flexslider.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="themes/6/css/bootstrap.css">

	<link rel="stylesheet" href="themes/6/css/style.css">


	<!-- Modernizr JS -->
	<script src="themes/6/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	{% include '/Local/Themes/Components/SEO/jsonLd.html.twig' %}

	</head>
{% set photosTheme = content.informationForLocal.photos %}

{% set photo1 = 'themes/1/images/bg_6.jpg' %}
{% set photo2 = 'themes/1/images/bg_4.jpg' %}
{% set photo3 = 'themes/1/images/breakfast-1.jpg' %}
{% set photo4 = 'themes/1/images/breakfast-1.jpg' %}
{% set photo5 = 'themes/2/images/reservations.jpg' %}

{% for photo in photosTheme %}
	{% if photo.orden == 1 %}
		{% set photo1 = photo.photoPath %}
	{% elseif photo.orden == 2 %}
		{% set photo2 = photo.photoPath %}
	{% elseif photo.orden == 3 %}
		{% set photo3 = photo.photoPath %}
	{% elseif photo.orden == 4 %}
		{% set photo4 = photo.photoPath %}		
	{% elseif photo.orden == 5 %}
		{% set photo5 = photo.photoPath %}		
	{% endif %}
{% endfor %}
	
{% if app.request.query.get('edit-photos')%}
	<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
</style>
{% endif %}

{% if content.local.colorWeb|default %}

<style>

.fh5co-main-nav .fh5co-menu-1 a.active, .fh5co-main-nav .fh5co-menu-2 a.active, .fh5co-main-nav .fh5co-logo a.active{
	color: {{ content.local.colorWeb|default }};
}
#fh5co-about .fh5co-text .heading:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 2px;
    left: 50%;
    background: {{ content.local.colorWeb|default }};
    margin-left: -20px;
}

.fh5co-heading .heading:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 2px;
    left: 50%;
    background: {{ content.local.colorWeb|default }};
    margin-left: -20px;
}

#fh5co-menus .fh5co-food-menu ul li .fh5co-food-pricing {
    float: right;
    width: 20%;
    text-align: right;
    font-size: 20px;
    color: {{ content.local.colorWeb|default }};
}
a {
    color:{{ content.local.colorWeb|default }};
}

.btn-primary {
    background: {{ content.local.colorWeb|default }};
    color: #fff;
    border:{{ content.local.colorWeb|default }};
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: {{ content.local.colorWeb|default }} !important;
  border-color: {{ content.local.colorWeb|default }} !important;
}
.footer-area h3 {
    border-bottom: 2px solid {{ content.local.colorWeb }};
}
.copyright {
    border-top: 1px solid {{ content.local.colorWeb }};
}
</style>

{% endif %}

	<body>
	{% include '/Local/Themes/Components/flashAlertThemes.html.twig' %}

	<div id="fh5co-container">
		<div id="fh5co-home" class="js-fullheight" data-section="home">

			<div class="flexslider">
				
				<div class="fh5co-overlay"></div>
				<div class="fh5co-text">
					<div class="container">
						<div class="row">
							<h1 class="to-animate">{{ content.local.nombreLocal }}</h1>
						</div>
					</div>
				</div>
			  	<ul class="slides">
			   	<li id="image-1" style="background-image: url({{ photo1|default('themes/6/images/slide_1.jpg') }});" data-stellar-background-ratio="0.5"></li>
			  	</ul>

			</div>
			
		</div>
			{% if content.userIsAdmin|default(false) %}
				{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'idPhoto': 1 }%}
			{% endif %}

		<div class="js-sticky">
			<div class="fh5co-main-nav">
				<div class="container-fluid">
					<div class="fh5co-menu-1">
						<a href="#" data-nav-section="home">Inicio</a>
					</div>
					<div class="fh5co-logo">
						<a href="index.html">{{ content.local.nombreLocal }}</a>
					</div>
					<div class="fh5co-menu-2">
						<a href="#" data-nav-section="menu">Menu</a>
						<a href="#" data-nav-section="reservation">Contactar</a>
					</div>
				</div>
				
			</div>
		</div>

		<div id="fh5co-about" data-section="about">
			<div id="image-2" class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url({{ photo2|default('themes/6/images/res_img_1.jpg') }})"></div>
			<div class="fh5co-2col fh5co-text">
				<h2 class="heading to-animate">Sobre Nosotros</h2>
				<p class="to-animate"><span class="firstcharacter">{{ content.informationForLocal.descripcion }}</p>
			</div>
		</div>
			{% if content.userIsAdmin|default(false) %}
				{% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'idPhoto': 2 }%}
			{% endif %}
		<div id="fh5co-menus" data-section="menu">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Menú</h2>
					</div>
				</div>
				<div class="row row-padded">
				{% for menu in content.menus %}
					<div class="col-md-6">
						<div class="fh5co-food-menu to-animate-2">

							<h2 class="fh5co-drinks">{{  menu.nombreMenu }}</h2>
							<ul>
								{% for producto in  menu.productos %}
								<li>
									<div class="fh5co-food-desc">
										<figure>
											{% if producto.photos.0.photoPath|default(null) %}<img src="{{  producto.photos.0.photoPath|default('themes/6/images/res_img_5.jpg')  }}" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co"> {% endif %}
										</figure>
										<div>
											<h3>{{ producto.nombreProducto }}</h3>
											<p>{{ producto.informacionProducto }}</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										{{ producto.precioProducto }}€
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>

		{% if '1' != content.local.ocultarFormularioContacto|default %}
		<div id="fh5co-contact" data-section="reservation">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Contactar con {{ content.local.nombreLocal }}</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 to-animate-2">
						<h3>Información de Contacto</h3>
						<ul class="fh5co-contact-info">
							<li class="fh5co-contact-address ">
								<i class="icon-home"></i>
								{{ content.informationForLocal.calle }} {{ content.informationForLocal.localidad }} {{ content.informationForLocal.ciudad }}
							</li>
							<li><i class="icon-phone"></i>{{ content.informationForLocal.telefono }}</li>
							<li><i class="icon-envelope"></i>{{ content.informationForLocal.email }}</li>
						</ul>
					</div>
					<div class="col-md-6 to-animate-2">
						<h3>Formulario</h3>
						<div class="form-group ">
							<label for="name" class="sr-only">Nombre</label>
							<input id="name" class="form-control" placeholder="Nombre" type="text">
						</div>
						<div class="form-group ">
							<label for="email" class="sr-only">Email</label>
							<input id="email" class="form-control" placeholder="Email" type="email">
						</div>
						
						<div class="form-group ">
							<label for="message" class="sr-only">Mensaje</label>
							<textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Mensaje"></textarea>
						</div>
						<div class="form-group ">
							<input class="btn btn-primary" value="Contactar" type="submit">
						</div>
						</div>
				</div>
			</div>
		</div>
	</div>	
	{% endif %}


	{% if content.informationForLocal.maps|default(null) %}
		{% include '/Local/Themes/Components/googleMaps.html.twig' with {'srcMaps': content.informationForLocal.maps|default }%}
	{% endif %}
	
	<!-- Start Footer -->
	<footer class="footer-area bg-f" style="background-color: black">
		<div class="container">
			<div class="row" style="justify-content: space-between;">
				<div class="col-lg-3 col-md-6">
					<h3>Sobre Nosotros</h3>
					<p>{{ content.informationForLocal.descripcion }}</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Contacto</h3>
					<p class="lead">{{ content.informationForLocal.calle }} {{ content.informationForLocal.localidad }} {{ content.informationForLocal.ciudad }}</p>
					<p class="lead">	{{ content.informationForLocal.telefono }}</p>
					<p><a href="#"> {{ content.informationForLocal.email }}</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					{% set lunesHorarioApertura = '' %}
					{% set lunesHorarioCierre = '' %}
					{% set lunesNoMostrarHorario = '' %}

					{% set martesHorarioApertura = '' %}
					{% set martesHorarioCierre ='' %}
					{% set martesNoMostrarHorario = '' %}

					{% set miercolesHorarioApertura = '' %}
					{% set miercolesHorarioCierre = '' %}
					{% set miercolesNoMostrarHorario = '' %}

					{% set juevesHorarioApertura = '' %}
					{% set juevesHorarioCierre ='' %}
					{% set juevesNoMostrarHorario = '' %}

					{% set viernesHorarioApertura = '' %}
					{% set viernesHorarioCierre ='' %}
					{% set viernesNoMostrarHorario = '' %}

					{% set sabadoHorarioApertura = '' %}
					{% set sabadoHorarioCierre = '' %}
					{% set sabadoNoMostrarHorario = '' %}

					{% set domingoHorarioApertura ='' %}
					{% set domingoHorarioCierre = '' %}
					{% set domingoNoMostrarHorario = '' %}

				{% for horario in content.informationForLocal.horariosLocal|default %}
				    {% if horario.diaSemana == 'Lunes' %}
						{% set lunesHorarioApertura = horario.horaApertura|default %}
						{% set lunesHorarioCierre = horario.horaCierre|default %}
						{% set lunesNoMostrarHorario = horario.noMostrarHora|default %}

					{% elseif horario.diaSemana == 'Martes' %}
						{% set martesHorarioApertura = horario.horaApertura|default %}
						{% set martesHorarioCierre = horario.horaCierre|default %}
						{% set martesNoMostrarHorario = horario.noMostrarHora|default %}

					{% elseif horario.diaSemana == 'Miercoles' %}

						{% set miercolesHorarioApertura = horario.horaApertura|default %}
						{% set miercolesHorarioCierre = horario.horaCierre|default %}
						{% set miercolesNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Jueves' %}

						{% set juevesHorarioApertura = horario.horaApertura|default %}
						{% set juevesHorarioCierre = horario.horaCierre|default %}
						{% set juevesNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Viernes' %}

						{% set viernesHorarioApertura = horario.horaApertura|default %}
						{% set viernesHorarioCierre = horario.horaCierre|default %}
						{% set viernesNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Sabado' %}

						{% set sabadoHorarioApertura = horario.horaApertura|default %}
						{% set sabadoHorarioCierre = horario.horaCierre|default %}	
						{% set sabadoNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Domingo' %}

						{% set domingoHorarioApertura = horario.horaApertura|default %}
						{% set domingoHorarioCierre = horario.horaCierre|default %}		
						{% set domingoNoMostrarHorario = horario.noMostrarHora|default %}
					{% endif %}
				{% endfor %}

					<h3>Horarios de apertura:</h3>

					<p><span class="text-color">Lunes: {% if lunesNoMostrarHorario|default %} Cerrado {% endif %} {% if not lunesNoMostrarHorario|default %}</span>{{ lunesHorarioApertura|date('H:i') }} - {{ lunesHorarioCierre|date('H:i') }} {% endif %}</p> 
					<p><span class="text-color">Martes:{% if martesNoMostrarHorario|default %} Cerrado {% endif %}  {% if not martesNoMostrarHorario|default %}</span>{{ martesHorarioApertura|date('H:i') }} - {{ martesHorarioCierre|date('H:i') }} {% endif %}</p> 
					<p><span class="text-color">Miércoles: {% if miercolesNoMostrarHorario|default %} Cerrado {% endif %} {% if not miercolesNoMostrarHorario|default %}</span>{{ miercolesHorarioApertura|date('H:i') }} - {{ miercolesHorarioCierre|date('H:i') }} {% endif %}</p> 
					<p><span class="text-color">Jueves: {% if juevesNoMostrarHorario|default %} Cerrado {% endif %} {% if not juevesNoMostrarHorario|default %}</span>{{ juevesHorarioApertura|date('H:i') }} - {{ juevesHorarioCierre|date('H:i') }} {% endif %}</p> 
					<p><span class="text-color">Viernes: {% if viernesNoMostrarHorario|default %} Cerrado {% endif %} {% if not viernesNoMostrarHorario|default %}</span>{{ viernesHorarioApertura|date('H:i') }} - {{ viernesHorarioCierre|date('H:i') }} {% endif %}</p> 
					<p><span class="text-color">Sábado: {% if sabadoNoMostrarHorario|default %} Cerrado {% endif %} {% if not sabadoNoMostrarHorario|default %}</span>{{ sabadoHorarioApertura|date('H:i') }} - {{ sabadoHorarioCierre|date('H:i') }} {% endif %}</p> 
					<p><span class="text-color">Domingo: {% if domingoNoMostrarHorario|default %} Cerrado {% endif %} {% if not domingoNoMostrarHorario|default %}</span>{{ domingoHorarioApertura|date('H:i') }} - {{ domingoHorarioCierre|date('H:i') }} {% endif %}</p>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2018 <a href="#">Live Dinner Restaurant</a> Design By : 
					<a href="https://html.design/">html design</a></p>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
	<!-- End Footer -->


	
	
	
	
	<!-- jQuery -->
	<script src="themes/6/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="themes/6/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="themes/6/js/bootstrap.min.js"></script>
	<!-- Bootstrap DateTimePicker -->
	<script src="themes/6/js/moment.js"></script>
	<script src="themes/6/js/bootstrap-datetimepicker.min.js"></script>
	<!-- Waypoints -->
	<script src="themes/6/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="themes/6/js/jquery.stellar.min.js"></script>

	<!-- Flexslider -->
	<script src="themes/6/js/jquery.flexslider-min.js"></script>
	<script>
		$(function () {
	       $('#date').datetimepicker();
	   });
	</script>
	<!-- Main JS -->
	<script src="themes/6/js/main.js"></script>
{% if app.request.query.get('edit-photos')%}
  {% include '/Local/Themes/Components/buttonChangePhotoOfJs.html.twig' %}
{% endif %}
	</body>
</html>

