<!DOCTYPE html>
<html lang="en">

<head>
	{% include '/Local/Themes/Components/SEO/metas.html.twig' %}

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="themes/5/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="themes/5/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="themes/5/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="themes/5/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="themes/5/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="themes/5/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="themes/5/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="themes/5/assets/css/style.css" rel="stylesheet">
  {% include '/Local/Themes/Components/SEO/jsonLd.html.twig' %}

{% if app.request.query.get('edit-photos')%}
	<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
</style>
{% endif %}
  <!-- =======================================================
  * Template Name: Restaurantly
  * Updated: Sep 20 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

{% include '/Local/Themes/Components/flashAlertThemes.html.twig' %}


{% set photosTheme = content.informationForLocal.photos %}

{% set photo1 = 'themes/1/images/bg_6.jpg' %}
{% set photo2 = 'themes/1/images/bg_4.jpg' %}

{% for photo in photosTheme %}
	{% if photo.orden == 1 %}
		{% set photo1 = '/uploads/' ~ photo.photoPath %}
	{% elseif photo.orden == 2 %}
		{% set photo2 = '/uploads/' ~ photo.photoPath %}	
	{% endif %}
{% endfor %}

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
       {% if content.informationForLocal.telefono|default %} <i class="bi bi-phone d-flex align-items-center"><span>Teléfono: {{ content.informationForLocal.telefono }}</span></i>{% endif %}
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">{{ content.local.nombreLocal }}</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#image-1">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
            {% if content.menus|default([])|length > 0 %}<li><a class="nav-link scrollto" href="#menu">Menú</a></li>{% endif %}
            {% if content.productsAlone|default([])|length > 0 %}<li><a class="nav-link scrollto" href="#gallery">Productos</a></li>{% endif %}
            {% if '1' != content.local.ocultarFormularioContacto|default %}<li><a class="nav-link scrollto" href="#contact">Contacto</a></li>{% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="image-1" class="d-flex align-items-center" style="background: url({{ photo1|default('/themes/5/assets/img/hero-bg.jpg') }}); background-size:cover;">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1><span>{{ content.local.nombreLocal }}</span></h1>
          <h2>{{ content.local.descripcionLocal }}</h2>

          <div class="btns">
            <a href="#contact" class="btn-book animated fadeInUp scrollto">Contactar</a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

{% if content.userIsAdmin|default(false) %}
    {% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 1', 'idPhoto': 1 } %}
{% endif %}

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img loading="lazy" id="image-2" src="{{ photo2|default('themes/5/assets/img/about.jpg') }}" alt="{{ content.local.nombreLocal }}">
              {% if content.userIsAdmin|default(false) %}
                {% include '/Local/Themes/Components/buttonChangePhoto.html.twig'  with {'textButton': 'Cambiar Foto 2', 'idPhoto': 2 } %}
                {% endif %}
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Sobre Nosotros</h3>
                <p class="fst-italic">
                    {{ content.informationForLocal.descripcion }}
                </p>
          </div>        
        </div>
      </div>
    </section>

    <!-- End About Section -->

    {% if content.menus|default([])|length > 0 %}
    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menú</h2>
          <p>Echa un vistazo a nuestro Menú</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">Todos</li>
            {% for menu in content.menus %}
              <li data-filter=".filter-{{ menu.nombreMenu|replace({' ' : '-'}) }}">{{ menu.nombreMenu }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        {% for menu in content.menus %}
          <div class="col-lg-6 menu-item filter-{{ menu.nombreMenu|replace({' ' : '-'}) }}">
            {% for producto in menu.productos %}
            {% if producto.photos.0.photoPath|default(null) %}<img loading="lazy" src="{{ '/uploads/' ~ producto.photos.0.photoPath|default(null) }}" class="menu-img" alt="{{ content.local.nombreLocal }}">{% endif %}
            <div class="menu-content">
             {{ producto.nombreProducto }}<span>{{ producto.precioProducto }}€</span>
            </div>
            <div class="menu-ingredients">
             {{ producto.informacionProducto }}
            </div>
            {% endfor %}
          </div>
        {% endfor %}

        </div>

      </div>
    </section>
    <!-- End Menu Section -->
    {% endif %}

    {% if content.productsAlone|default([])|length > 0 %}
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Productos</h2>
          <p>Algunos de nuestros Productos</p>
        </div>
      </div>
      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">
        {% for producto in content.productsAlone %} 
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{  '/uploads/' ~ producto.photos.0.photoPath|default('themes/5/assets/img/gallery/gallery-1.jpg') }}" class="gallery-lightbox" data-gall="gallery-item">
                <img loading="lazy" src="{{ '/uploads/' ~ producto.photos.0.photoPath|default('themes/5/assets/img/gallery/gallery-1.jpg') }}" alt="{{ producto.nombreProducto|default }}" class="img-fluid">
              </a>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Gallery Section -->
	{% endif %}

    {% if '1' == content.local.ocultarFormularioContacto|default and content.informationForLocal.maps|default %}
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Google Maps</h2>
          <p>Puedes encontrarnos por Google Maps</p>
        </div>
      </div>
      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="{{content.informationForLocal.maps|default}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>
	{% endif %}

    {% if '1' != content.local.ocultarFormularioContacto|default %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contactar</h2>
          <p>Puedes llamarnos o contactar a través de este formulario</p>
        </div>
      </div>

	{% if content.informationForLocal.maps|default(null) %}
      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="{{content.informationForLocal.maps|default}}" frameborder="0" allowfullscreen></iframe>
      </div>
	{% endif %}

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Dirección:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{ content.informationForLocal.email }} </p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Teléfono de contacto:</h4>
                <p>{{ content.informationForLocal.telefono }} </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>
    <!-- End Contact Section -->
	{% endif %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row" style="justify-content:space-evenly">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>{{ content.local.nombreLocal }}</h3>
              <p>
               {{ content.informationForLocal.direccionCompleta }} <br>
                {{ content.informationForLocal.localidad }} {{ content.informationForLocal.ciudad }} <br><br>  
                <strong>Phone: </strong>{{ content.informationForLocal.telefono }} <br>
                <strong>Email: </strong> {{ content.informationForLocal.email }} <br>
              </p>
            {% if content.informationForLocal.facebook|default or content.informationForLocal.facebook|default or content.informationForLocal.instagram|default or content.informationForLocal.youtube|default %}
              <div class="social-links mt-3">
                {% if content.informationForLocal.twiter|default %}<a href="https://twitter.com/{{ content.informationForLocal.twiter }}" class="twitter"><i class="bx bxl-twitter"></i></a>{% endif %}
                {% if content.informationForLocal.facebook|default %}<a href="https://www.facebook.com/{{ content.informationForLocal.facebook }}" class="facebook"><i class="bx bxl-facebook"></i></a>{% endif %}
                {% if content.informationForLocal.instagram|default %}<a href="https://www.instagram.com/{{ content.informationForLocal.instagram }}" class="instagram"><i class="bx bxl-instagram"></i></a>{% endif %}
                {% if content.informationForLocal.youtube|default %}<a href="https://www.youtube.com/@{{ content.informationForLocal.youtube }}" class="youtube-plus"><i class="bx bxl-youtube"></i></a>{% endif %}
              </div>
            {% endif %}
            </div>
          </div>
					{% set lunesHorarioApertura = '' %}
					{% set lunesHorarioCierre = '' %}
					{% set lunesNoMostrarHorario = '' %}

					{% set martesHorarioApertura = '' %}
					{% set martesHorarioCierre ='' %}
					{% set martesNoMostrarHorario = '' %}

					{% set miercolesHorarioApertura = '' %}
					{% set miercolesHorarioCierre = '' %}
					{% set miercolesNoMostrarHorario = '' %}

					{% set juevesHorarioApertura = '' %}
					{% set juevesHorarioCierre ='' %}
					{% set juevesNoMostrarHorario = '' %}

					{% set viernesHorarioApertura = '' %}
					{% set viernesHorarioCierre ='' %}
					{% set viernesNoMostrarHorario = '' %}

					{% set sabadoHorarioApertura = '' %}
					{% set sabadoHorarioCierre = '' %}
					{% set sabadoNoMostrarHorario = '' %}

					{% set domingoHorarioApertura ='' %}
					{% set domingoHorarioCierre = '' %}
					{% set domingoNoMostrarHorario = '' %}

				{% for horario in content.informationForLocal.horariosLocal|default %}
				    {% if horario.diaSemana == 'Lunes' %}
						{% set lunesHorarioApertura = horario.horaApertura|default %}
						{% set lunesHorarioCierre = horario.horaCierre|default %}
						{% set lunesNoMostrarHorario = horario.noMostrarHora|default %}

					{% elseif horario.diaSemana == 'Martes' %}
						{% set martesHorarioApertura = horario.horaApertura|default %}
						{% set martesHorarioCierre = horario.horaCierre|default %}
						{% set martesNoMostrarHorario = horario.noMostrarHora|default %}

					{% elseif horario.diaSemana == 'Miercoles' %}

						{% set miercolesHorarioApertura = horario.horaApertura|default %}
						{% set miercolesHorarioCierre = horario.horaCierre|default %}
						{% set miercolesNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Jueves' %}

						{% set juevesHorarioApertura = horario.horaApertura|default %}
						{% set juevesHorarioCierre = horario.horaCierre|default %}
						{% set juevesNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Viernes' %}

						{% set viernesHorarioApertura = horario.horaApertura|default %}
						{% set viernesHorarioCierre = horario.horaCierre|default %}
						{% set viernesNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Sabado' %}

						{% set sabadoHorarioApertura = horario.horaApertura|default %}
						{% set sabadoHorarioCierre = horario.horaCierre|default %}	
						{% set sabadoNoMostrarHorario = horario.noMostrarHora|default %}
					{% elseif horario.diaSemana == 'Domingo' %}

						{% set domingoHorarioApertura = horario.horaApertura|default %}
						{% set domingoHorarioCierre = horario.horaCierre|default %}		
						{% set domingoNoMostrarHorario = horario.noMostrarHora|default %}
					{% endif %}
				{% endfor %}
                
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Horarios de apertura:</h4>
            <ul>
                <li><i class="bx bx-chevron-right"></i>  Lunes: {% if lunesNoMostrarHorario|default %} Cerrado {% endif %} {% if not lunesNoMostrarHorario|default %} {{ lunesHorarioApertura|date('H:i') }} - {{ lunesHorarioCierre|date('H:i') }} {% endif %} </li>
                <li><i class="bx bx-chevron-right"></i> Martes:{% if martesNoMostrarHorario|default %} Cerrado {% endif %}  {% if not martesNoMostrarHorario|default %} {{ martesHorarioApertura|date('H:i') }} - {{ martesHorarioCierre|date('H:i') }} {% endif %} </li>
                <li><i class="bx bx-chevron-right"></i> Miércoles: {% if miercolesNoMostrarHorario|default %} Cerrado {% endif %} {% if not miercolesNoMostrarHorario|default %} {{ miercolesHorarioApertura|date('H:i') }} - {{ miercolesHorarioCierre|date('H:i') }} {% endif %} </li>
                <li><i class="bx bx-chevron-right"></i> Jueves: {% if juevesNoMostrarHorario|default %} Cerrado {% endif %} {% if not juevesNoMostrarHorario|default %} {{ juevesHorarioApertura|date('H:i') }} - {{ juevesHorarioCierre|date('H:i') }} {% endif %} </li>
                <li><i class="bx bx-chevron-right"></i> Viernes: {% if viernesNoMostrarHorario|default %} Cerrado {% endif %} {% if not viernesNoMostrarHorario|default %} {{ viernesHorarioApertura|date('H:i') }} - {{ viernesHorarioCierre|date('H:i') }} {% endif %} </li>
                <li><i class="bx bx-chevron-right"></i> Sábado: {% if sabadoNoMostrarHorario|default %} Cerrado {% endif %} {% if not sabadoNoMostrarHorario|default %} {{ sabadoHorarioApertura|date('H:i') }} - {{ sabadoHorarioCierre|date('H:i') }} {% endif %} </li>
                <li><i class="bx bx-chevron-right"></i> Domingo: {% if domingoNoMostrarHorario|default %} Cerrado {% endif %} {% if not domingoNoMostrarHorario|default %} {{ domingoHorarioApertura|date('H:i') }} - {{ domingoHorarioCierre|date('H:i') }} {% endif %} </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>{{ content.local.nombreLocal }}</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
        Designed by <a href="https://bootstrapmade.com/" rel="nofollow">BootstrapMade</a> |
          <a href="/politica-de-privacidad/" rel="nofollow">Política de Privacidad</a> |
					<a href="/terminos-y-condiciones-de-uso/" rel="nofollow">Terminos & Condiciones de Uso</a> |
					<a href="/aviso-legal/" rel="nofollow">Aviso Legal</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="themes/5/assets/vendor/aos/aos.js"></script>
  <script src="themes/5/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="themes/5/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="themes/5/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="themes/5/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="themes/5/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="themes/5/assets/js/main.js"></script>

    {% if app.request.query.get('edit-photos')%}
        {% include '/Local/Themes/Components/buttonChangePhotoOfJs.html.twig' %}
    {% endif %}
</body>

</html>