
<button onclick="mostrarFormulario({{idPhoto}})" class="button button3">{{ textButton|default('Cambiar Foto Destacada') }}</button>

<div id="formulario-{{idPhoto}}" style="display:none;">
  <form id="upload-form"  action="{{ path('panel-change-photo-theme-from-local',{'local':app.request.attributes.get('local'), 'orden': idPhoto }) }}" method="post" enctype="multipart/form-data">
    <input type="file" id="file-input-{{idPhoto}}" name="file-upload" accept="image/*">
    <button type="submit">Guardar Imagen</button>
  </form>
</div>
